Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

update composer
  composer.lock
Due: test-php-73

refs #54692 - hashing adjusted
  src/Zmscalldisplay/Index.php
Due: test-php-73, pages

refs #54692 - hashing adjusted
  src/Slim/Helper.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

refs #54692 - unit test adjusted
  tests/Slim/HelperTest.php
Due: test-php-73, pages

refs #55513 - remove import of deleted cscc file
  scss/admin.scss
Due: none

refs #55513 - specific accessibility css as import from layout-admin includes
  package.json
  public/_css/admin.css
  public/_css/admin.css.map
  scss/accessibility.scss
  scss/admin.scss
  templates/block/availability/monthtable.twig
  templates/block/calendar/calendar.twig
  templates/element/helper/snippets.twig
Due: test-php-73

refs #55513 - fixed isToday for monthtable calendar
  src/Zmsadmin/ScopeAvailabilityMonth.php
  templates/block/availability/monthtable.twig
Due: test-php-73, pages

refs #55537 - public navigation link rendering changed
  templates/block/navigation/navigation.twig
Due: test-php-73

refs #55540 - aria required attribute added, but not changing the layout
  templates/block/cluster/form.twig
  templates/block/department/form.twig
  templates/block/mail/form.twig
  templates/block/notification/form.twig
  templates/block/organisation/form.twig
  templates/block/owner/form.twig
  templates/block/useraccount/edit.twig
  templates/element/helper/form.twig
Due: test-php-73

fixed today triangle position in calendar
  package.json
  public/_css/admin.css
  public/_css/admin.css.map
  public/_js/index.js
  public/_js/index.js.map
  templates/block/calendar/calendar.twig
Due: test-php-73

refs #55520 - fixed unit tests for selected date
  tests/Zmsadmin/AppointmentFormTest.php
Due: test-php-73, pages

zmsapi Docker Image Build
  .gitlab-ci.yml
  Dockerfile
Due: test-php-73, pages

routing fix and resolveReferences
  routing.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

moved OAuthMiddleware to ZMSSlim
  bootstrap.php
  src/Zmsadmin/Helper/KeyCloakAuth.php
  src/Zmsadmin/Helper/OAuthMiddleware.php
Due: test-php-73, pages

refactor OAuthMiddleware code
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

removed header
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55778 - process update values refactoring
  src/Zmsdb/Helper/ProcessStatus.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
  src/Zmsdb/Query/Slot.php
Due: test-php-73, pages

refs #55778 - remove unused updateAttribute function
  src/Zmsdb/Process.php
Due: test-php-73, pages

phpmd fixes
  src/Zmsdb/Process.php
Due: test-php-73, pages

Update changelog
  CHANGELOG.md
Due: none

refs #55778 - update public process without personal data
  src/Zmsapi/ProcessUpdate.php
Due: test-php-73, pages

refs #55778 - remove only personal data from process
  src/Zmsentities/Process.php
Due: test-php-73, pages

refs #55778 - Revision of the assignment of appointment dates and follow-up appointments
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

update unit tests
  tests/Zmsentities/ProcessTest.php
Due: test-php-73, pages
