Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

created tests to support services with more slots
  tests/Zmsapi/ProcessFreeTest.php
Due: test-php-73, pages

refs #55432 fixing code and make it run with php8
  src/Dldb/AbstractAccess.php
  src/Dldb/Collection/Authorities.php
  src/Dldb/Collection/Locations.php
  src/Dldb/Collection/Settings.php
  src/Dldb/Elastic/Link.php
  src/Dldb/Entity/Authority.php
  src/Dldb/Entity/Base.php
  src/Dldb/Entity/Service.php
  src/Dldb/File/Authority.php
  src/Dldb/File/Base.php
  src/Dldb/File/Setting.php
  tests/Dldb/FileAccessTest.php
  tests/Dldb/fixtures/locations_de.json
  tests/config.php
Due: test-php-73, pages

refs #55432 - fix for code quality tools
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

refs #55625 - changes in confirmation, reminder and summary mail templates
  templates/lists/processes_summary.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_processlist_overview.twig
  templates/messaging/mail_reminder.twig
Due: test-php-73

refs #55625 - unit test fixes after changes in templates
  tests/Zmsentities/Helper/MessagingTest.php
  tests/Zmsentities/MailTest.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

remove timezone from query_canceled
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

sendmail reminder 48 hours before appointment
  cron/cronjob.minutly
Due: none

refs #55627 - add config values for reminder mail limits and add some more debug output to sendMailReminder class
  migrations/55627-config-reminder-mail-limits.sql
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

fixed cronjob test
  tests/Zmsdb/Helper/AppointmentDeallocateByCronTest.php
Due: test-php-73, pages

refs #55627 - avoid to sending mails in repetition if is not possible
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

refs #55432 - add missing change for library usage
  composer.lock
  src/Zmsdb/Connection/Select.php
Due: test-php-73, pages

changed code parameter validation
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

oauth improvements
  config.example.php
  src/Zmsadmin/Index.php
  src/Zmsadmin/Logout.php
  src/Zmsadmin/OAuth.php
  templates/exception/bo/zmsapi/exception/useraccount/keycloakAuthError.twig
  templates/page/index.twig
Due: test-php-73, pages

refs
  public/_css/admin.css
  public/_css/admin.css.map
  public/_css/fa-regular-400.09c79cc5.woff
  public/_css/fa-regular-400.530b4f61.eot
  public/_css/fa-regular-400.5bedcec6.woff2
  public/_css/fa-regular-400.963ebff5.ttf
  public/_css/fa-regular-400.a55d9c35.svg
  public/_css/fa-solid-900.45f46c3e.svg
  public/_css/fa-solid-900.6002b354.woff2
  public/_css/fa-solid-900.67ecc626.ttf
  public/_css/fa-solid-900.6b1a037a.eot
  public/_css/fa-solid-900.80005ece.woff
Due: none

refs
  scss/admin.scss
  templates/layout/main.twig
Due: test-php-73

fixed phpcs issue
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

fixed phpcbf issue
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

Update composer with zmsdb patch
  composer.lock
Due: test-php-73

refs #55432 - changes for php8 compatibility
  bin/test
  src/Zmsadmin/Index.php
  src/Zmsadmin/Notification.php
Due: test-php-73, pages

filter users accounts without departments
  src/Zmsentities/Collection/UseraccountList.php
Due: test-php-73, pages

refs #55627 - In the sql query the offset parameter was removed, because this leads to conflicts when sending reminder emails
  src/Zmsdb/Helper/SendMailReminder.php
  tests/Zmsdb/ProcessMailReminderTest.php
Due: test-php-73, pages

refs #55627 - add entities check if department has notification enabled, and scope has emailFrom
  src/Zmsentities/Collection/ProcessList.php
  src/Zmsentities/Scope.php
Due: test-php-73, pages

refs #55627 - fixed notification and mail reminder helper
  migrations/55627-config-reminder-mail-limits.sql
  src/Zmsdb/Helper/SendMailReminder.php
  src/Zmsdb/Helper/SendNotificationReminder.php
  src/Zmsdb/Process.php
  src/Zmsdb/ProcessStatusFree.php
  tests/Zmsdb/ProcessMailReminderTest.php
  tests/Zmsdb/ProcessNotificationTest.php
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsdb/Helper/SendMailReminder.php
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

remove debugging in unit test
  tests/Zmsdb/ProcessMailReminderTest.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73
