Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

composer
  composer.json
  composer.lock
Due: test-php-73

fixed default $options var for filter_var
  src/Mellon/Valid.php
Due: test-php-73, pages

improved waiting info and reload data every 20 seconds
  js/block/waitingInfo.js
  js/settings.js
  public/_js/index.js
  public/_js/index.js.map
  routing.php
  src/Zmscalldisplay/Info.php
  templates/layout/main.twig
  templates/page/customized/calldisplay_template.twig
  templates/page/customized/clock5platz.twig
  templates/page/customized/clocknrraum.twig
  templates/page/customized/clocknrwaitplatz.twig
  templates/page/customized/clocknrwaitraum.twig
  templates/page/customized/defaultplatz.twig
  templates/page/customized/defaultraum.twig
  templates/page/customized/raw18platz.twig
Due: test-php-73, pages

fixed paramter types for filter_var method
  src/Mellon/Valid.php
Due: test-php-73, pages

changed wording from waiting clients to length of waiting queue
  src/Zmscalldisplay/Helper/Calldisplay.php
  src/Zmscalldisplay/Info.php
  templates/block/queue/estimatedWaitingClients.twig
  templates/block/queue/estimatedWaitingTime.twig
Due: test-php-73, pages

Update composer
  composer.json
  composer.lock
Due: test-php-73

get waiting queue by specified statuses
  src/Zmscalldisplay/Info.php
Due: test-php-73, pages

copy one line from muencher-customizations
  src/Zmsentities/Helper/Messaging.php
Due: test-php-73, pages

add some const variables with queue statuses
  src/Zmsentities/Collection/QueueList.php
Due: test-php-73, pages

refs #56796 - the calculation of the waiting time and the number of waiting persons has been revised - only operations that have a real waiting time will be considered
  composer.lock
  src/Zmscalldisplay/Helper/Calldisplay.php
  src/Zmscalldisplay/Info.php
  templates/block/queue/estimatedWaitingTime.twig
Due: test-php-73, pages

update changelog and fixed unit tests
  CHANGELOG.md
  tests/Zmscalldisplay/QueueDestinationTest.php
  tests/Zmscalldisplay/QueueTest.php
Due: test-php-73, pages

fixed long variable name
  src/Zmscalldisplay/Info.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

Update composer
  composer.lock
Due: test-php-73

add new cronjob to delete unconfirmed appointments
  bin/deleteUnconfirmedAppointmentData
  composer.json
  migrations/16032023-add-config-for-cronjob-preconfirmed.sql
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

add cronjob in minutly cronjobs
  cron/cronjob.minutly
Due: none

revert to previous composer.json
  composer.json
Due: test-php-73

adjust limits so not to delete all of the dev database when something is wrong. adjust these values before going to demo
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

fix calculation of expiration time, use IPTimestamp
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
  src/Zmsdb/Process.php
Due: test-php-73, pages

revert formatting
  src/Zmsentities/Helper/Messaging.php
Due: test-php-73, pages

respect 120 characters
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/tobias-test.php
Due: test-php-73, pages

respect 120 characters, was 123 characters
  src/Zmsentities/Helper/Messaging.php
Due: test-php-73, pages

adjust test to reflect new initial state of preconfirmed
  tests/Zmsapi/ProcessDeleteTest.php
Due: test-php-73, pages

fix another test to work with status preconfirmed
  tests/Zmsapi/ProcessFinishedTest.php
Due: test-php-73, pages

adjust limits of handled appointments
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

fix formatting
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

fixing error: 'Whitespace found at end of line'
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
Due: test-php-73, pages

fixing more formatting errors...
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

fixing more formatting errors... ...
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

disable npm install, it does not run and I am focusing on php unit right now
  .gitlab-ci.yml
Due: test-php-73, pages

fix tests
  tests/Zmsadmin/CalldisplayTest.php
  tests/Zmsadmin/DepartmentTest.php
  tests/Zmsadmin/OrganisationTest.php
  tests/Zmsadmin/OwnerAddOrganisationTest.php
  tests/Zmsadmin/ScopeAvailabilityDayConflictsTest.php
  tests/Zmsadmin/ScopeAvailabilityDayTest.php
  tests/Zmsadmin/TicketprinterConfigTest.php
  tests/Zmsadmin/UseraccountAddTest.php
  tests/Zmsadmin/WorkstationProcessPreCallTest.php
Due: test-php-73, pages

disabling more stuff since I am focusing on php unit
  .gitlab-ci.yml
Due: test-php-73, pages

#56991 - The curl option for setting up an API proxy server has been added to the configuration
  CHANGELOG.md
  config.example.php
Due: none

ZMS-641 config activationmail
  composer.lock
  schema/scope.json
Due: test-php-73

ZMS-641 config activationmail
  composer.lock
  migrations/457262-add-aktivierungsdauer-in-standort-table.sql
  src/Zmsdb/Helper/ProcessStatus.php
  src/Zmsdb/Helper/UnconfirmedAppointmentDeleteByCron.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
  src/Zmsdb/Query/Scope.php
Due: test-php-73, pages

ZMS-641 config activationmail
  composer.lock
  src/Zmsapi/Exception/Process/ProcessNotPreconfirmedAnymore.php
  src/Zmsapi/ProcessConfirm.php
Due: test-php-73, pages

ZMS-641 config activationmail
  composer.lock
  src/Zmsadmin/Scope.php
  templates/block/scope/form.twig
Due: test-php-73, pages

ZMS-930 Kuerzel save error
  schema/dereferenced/scope.json
  schema/provider.json
Due: test-php-73

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
