Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml



.test-php:
    stage: test
    variables:
      PHP_VERSION: 7.3
    image: registry.gitlab.com/eappointment/php-base:${PHP_VERSION}-dev
    cache:
        key: "zmsbase"
        paths:
            - cache
    script:
        - $CLI_COMPOSER
#temporary disabling this, I am focusing on php unit tests now        
#        - $CLI_PHPCS
#        - $CLI_PHPMD
        - docker-php-ext-enable xdebug
        - $CLI_PHPUNIT $CLI_PHPUNIT_PARAM
    coverage: '/^\s*Lines:\s*\d+.\d+\%/'
    artifacts:
        paths:
            - public/_tests
        expire_in: 7d
        reports:
            junit: public/_tests/junit.xml


test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

build-docker:
    extends: .build-docker

update changelog
  CHANGELOG.md
Due: none

upgrade to php7.3 and phpunit 9.5 with unit test fixes for deprecated twig methods
  phpunit.xml
  templates/block/report/period.twig
  templates/page/reportRequestIndex.twig
  templates/page/warehouseReport.twig
  tests/Zmsstatistic/ChangelogTest.php
  tests/Zmsstatistic/DialogHandlerTest.php
  tests/Zmsstatistic/HealthcheckTest.php
  tests/Zmsstatistic/IndexTest.php
  tests/Zmsstatistic/OverviewTest.php
  tests/Zmsstatistic/ReportClientDepartmentTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientScopeTest.php
  tests/Zmsstatistic/ReportRequestDepartmentTest.php
  tests/Zmsstatistic/ReportRequestOrganisationTest.php
  tests/Zmsstatistic/ReportRequestScopeTest.php
  tests/Zmsstatistic/ReportWaitingDepartmentTest.php
  tests/Zmsstatistic/ReportWaitingOrganisationTest.php
  tests/Zmsstatistic/ReportWaitingScopeTest.php
  tests/Zmsstatistic/RoutingTest.php
  tests/Zmsstatistic/StatusTest.php
  tests/Zmsstatistic/WarehouseIndexTest.php
  tests/Zmsstatistic/WarehousePeriodTest.php
  tests/Zmsstatistic/WarehouseReportTest.php
  tests/Zmsstatistic/WarehouseSubjectTest.php
  tests/Zmsstatistic/WorkstationSelectTest.php
Due: test-php-73, pages

refs #44170 - show all years link only if > 3 years available
  templates/block/report/period.twig
Due: test-php-73

fix not logged in exception template
  templates/exception/bo/zmsentities/exception/useraccountmissinglogin.twig
Due: test-php-73

refs #42678 - some more accessibility issues and add breadcrumb for report navigation
  src/Zmsstatistic/Application.php
  src/Zmsstatistic/Status.php
  src/Zmsstatistic/WarehouseIndex.php
  templates/exception/bo/layout.twig
  templates/exception/default.twig
  templates/page/404.twig
  templates/page/changelog.twig
  templates/page/reportClientIndex.twig
  templates/page/status.twig
  templates/page/warehouseIndex.twig
  templates/page/warehousePeriod.twig
  templates/page/warehouseReport.twig
  templates/page/warehouseSubject.twig
  tests/Zmsstatistic/WarehousePeriodTest.php
  tests/Zmsstatistic/WarehouseReportTest.php
Due: test-php-73, pages

refs #42768 - changed title tag
  templates/layout/fullwidth.twig
  templates/layout/main.twig
Due: test-php-73

Update changelog
  CHANGELOG.md
Due: none

update public js and css
  public/_css/statistic.css
  public/_css/statistic.css.map
  public/_css/statistic.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

refs #44170 - add styles after accessibility changes to hide period table entries
  js/block/periodlist/index.js
  js/index.js
  scss/statistic.scss
Due: none

add vendor.zmsbase to gitignore
  .gitignore
Due: none

refs #44170 - remove dublicated shortNames of scope in scope select box
  templates/block/workstation/selectform.twig
Due: test-php-73

add lang folder
  lang/de_DE.json
  lang/en_GB.json
Due: none

refs #42678 - fix period table link color and title tag description
  public/_css/fa-regular-400.16d6ac71.svg
  public/_css/fa-regular-400.82c42f2f.woff2
  public/_css/fa-regular-400.adc5c7aa.woff
  public/_css/fa-regular-400.b073eab5.ttf
  public/_css/fa-regular-400.d4b9b17f.eot
  public/_css/fa-solid-900.0b60ff24.eot
  public/_css/fa-solid-900.47a039f3.ttf
  public/_css/fa-solid-900.55d5ef42.woff2
  public/_css/fa-solid-900.d08d5f59.svg
  public/_css/fa-solid-900.f824330b.woff
  public/_css/statistic.css
  public/_css/statistic.css.map
  public/_css/statistic.js
  public/_css/statistic.js.map
  templates/block/report/period.twig
Due: test-php-73

fixed routing test with errorHandler Middleware
  tests/Zmsstatistic/RoutingTest.php
Due: test-php-73, pages

Update file Slot.php
  src/Zmsdb/Slot.php
Due: test-php-73, pages

feat(ZMS-132): change max slots per appointment
  composer.lock
Due: test-php-73

init main branch
  .gitlab-ci.yml
  Dockerfile
  composer.json
  package.json
Due: test-php-73, pages

update Makefile and package.json
  Makefile
  package.json
Due: none

bugfix(ZMS-1015): git config
  bin/configure
Due: none

feat(ZMS-1015): fix saving version
  Dockerfile
  bin/configure
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages

add LICENSE
  LICENSE
Due: none

Update composer
  composer.lock
Due: test-php-73

update composer.json
  composer.json
Due: test-php-73

Update composer.json
  composer.json
Due: test-php-73

fix function call for php 8
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

update composer.lock
  composer.lock
Due: test-php-73

remove berlin logo from header
  src/Zmsstatistic/Application.php
  templates/block/header/pageheader.twig
Due: test-php-73, pages

phpcbf fixes
  src/Zmsstatistic/Application.php
Due: test-php-73, pages

fix SendNotificationTest
  tests/Zmsmessaging/SendNotificationTest.php
Due: test-php-73, pages

fix queue list in zms admin for reserved appointments
  src/Zmsentities/Collection/QueueList.php
Due: test-php-73, pages

update composer lock
  composer.lock
Due: test-php-73

ZMS-1053: Implemented SMTP configuration
  .gitlab-ci.yml
  config.example.php
  src/Zmsmessaging/Application.php
  src/Zmsmessaging/Mail.php
  src/Zmsmessaging/Notification.php
Due: test-php-73, pages
