Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

update changelog
  CHANGELOG.md
Due: none

composer muc fix
  composer.json
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

composer muc fix
  composer.lock
Due: test-php-73

refs #55431 - adjust composer.json
  composer.json
Due: test-php-73

refs #56114 - update date string every minute
  js/block/analogClock.js
  js/block/waitingInfo.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/marginal/clock.twig
Due: test-php-73

#55431 - update composer.lock
  composer.lock
Due: test-php-73

refs #55431 - update composer.lock
  composer.lock
Due: test-php-73

composer muc test
  composer.json
  composer.lock
Due: test-php-73

refs #55431 - update composer.lock and an unittest
  composer.lock
  tests/Slim/HelperTest.php
Due: test-php-73, pages

remove debug information
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
Due: test-php-73, pages

refs #55431 - changes for the slim update
  bootstrap.php
  composer.json
  composer.lock
  routing.php
  src/Zmscalldisplay/BaseController.php
  src/Zmscalldisplay/Healthcheck.php
  src/Zmscalldisplay/Helper/Calldisplay.php
  src/Zmscalldisplay/Helper/EntryFromOldRoute.php
  src/Zmscalldisplay/Helper/TemplateFinder.php
  src/Zmscalldisplay/Index.php
  src/Zmscalldisplay/Info.php
  src/Zmscalldisplay/Queue.php
  src/Zmscalldisplay/RedirectOld.php
Due: test-php-73, pages

update analog clock without secondHand
  js/lib/coolclock.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

role fix
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

keycloak role check
  composer.lock
Due: test-php-73

refs #56114 - add new modern analog clock javascript
  js/block/analogClock.js
  js/block/waitingInfo.js
  js/lib/coolclock.js
  js/lib/moreskins.js
  public/_css/background_anzeige1.8e638d08.png
  public/_css/background_anzeige1.f1ed1461.png
  public/_css/background_anzeige1_1920.af25e8eb.png
  public/_css/background_anzeige1_1920.bc9eff88.png
  public/_css/background_anzeige1_1920_behoerde_80.6bd6e6e7.png
  public/_css/background_anzeige1_1920_behoerde_80.aef875ec.png
  public/_css/background_anzeige1_behoerde_80.b753a749.png
  public/_css/background_anzeige1_behoerde_80.efe68ab8.png
  public/_css/background_anzeige1_hoch.07a7476e.png
  public/_css/background_anzeige1_hoch.a73ccd93.png
  public/_css/background_anzeige1_hoch_1920.6f51f255.png
  public/_css/background_anzeige1_hoch_1920.86f30aa9.png
  public/_css/background_anzeige1_hoch_1920_behoerde_80.32f3f136.png
  public/_css/background_anzeige1_hoch_1920_behoerde_80.50058120.png
  public/_css/background_anzeige1_hoch_behoerde_80.b8f91f5d.png
  public/_css/background_anzeige1_hoch_behoerde_80.d15fb8a9.png
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  public/_css/invisible_Mauszeiger.59b01b4c.cur
  public/_js/index.js
  public/_js/index.js.map
  scss/block/aufrufanzeige.scss
  scss/block/clock.scss
  scss/calldisplay.scss
  scss/layout/media.scss
  templates/block/marginal/clock.twig
Due: test-php-73

refs #56114 - style changes for modern analog clock
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  scss/block/clock.scss
Due: none

refs #55398 - check keycloak client roles to grant access
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages
