Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  stage: test
  variables:
    PHP_VERSION: '7.3'
  image: registry.gitlab.com/eappointment/php-base:${PHP_VERSION}-dev
  cache:
    key: zmsbase
    paths:
    - cache
  script:
  - $CLI_COMPOSER
  - docker-php-ext-enable xdebug
  - $CLI_PHPUNIT $CLI_PHPUNIT_PARAM
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  artifacts:
    paths:
  ...

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

composer update
  composer.json
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

update composer
  composer.json
  composer.lock
Due: test-php-73

ZMS-1013 Acces Role fix
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

ZMS-1013 access role fix
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

ZMS-1013 Access Role
  composer.lock
Due: test-php-73

ref #27468 - send mail class, get mail queue from api, ics attachment
  bin/mail_queue.php
  bootstrap.php
  config-sample.php
  src/Zmsmessaging/Application.php
  src/Zmsmessaging/BaseController.php
  src/Zmsmessaging/SendMailQueue.php
Due: test-php-73, pages

ref #27468 - delete from mailqueue after sent, small fixes
  bin/mail_queue.php
  src/Zmsmessaging/SendMailQueue.php
Due: test-php-73, pages

ref #27468 - mail_queue function with test and live args
  bin/mail_queue.php
Due: none

ref #27468 - send modifications, bug fix with overwriting mail object
  bootstrap.php
  src/Zmsmessaging/Application.php
  src/Zmsmessaging/SendMailQueue.php
Due: test-php-73, pages

ref #27468 - test function to get mail queue with multipart and ics
  src/Zmsmessaging/SendMailQueue.php
Due: test-php-73, pages

ref #27468 - bootstrap, composer monolog, config-sample, Application
  .gitignore
  bootstrap.php
  config-sample.php
  src/Zmsmessaging/Application.php
Due: test-php-73, pages

include bootstrap correctly
  bin/mail_queue.php
Due: none

ref #27471 - notification transmission creating, refactored SendQueue
  bin/mail_queue.php
  bootstrap.php
  src/Zmsmessaging/SendMailQueue.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

remove Controller, get multiparts and set default encoding to base64 in sendMail
  src/Zmsmessaging/BaseController.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

removed unused classes in use block
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

add phpmd rules and comment out phpunit testing
  bin/test
  phpmd.rules.xml
Due: none

always base64 encoding
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

use AddStringAttachment and not phpmailer ical property
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

ref #27468 - Refectoring send and verbose calls, usage message if no args given
  bin/mail_queue.php
  bin/notification_queue.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

refs #29247 - hint for adding composer.lock
  bin/test
Due: none

Added Makefile and composer
  Makefile
Due: none

usage message unix standard
  bin/mail_queue.php
  bin/notification_queue.php
Due: none

Fixed bin/test
  bin/test
Due: none

add cronjob.minutly
  cron/cronjob.minutly
Due: none

update composer, mkdir hoock folder
  bin/configure
Due: none

ref #27468 - refactoring send and verbose in one call possible
  bin/mail_queue.php
  bin/notification_queue.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

change argv validation to true and false
  bin/mail_queue.php
  bin/notification_queue.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

Changed config to allow ENV configuration
  .gitignore
  bin/test
  config.example.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

removed gateway option
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

remove asserting from email adress
  tests/Zmsmessaging/SendTest.php
Due: test-php-73, pages

Fetch environment from sysconfig
  cron/cronjob.minutly
Due: none

ref #30337 - add unit tests for zmsmessaging
  Makefile
  phpunit.xml
  src/Zmsmessaging/SendQueue.php
  tests/Zmsmessaging/Base.php
  tests/Zmsmessaging/SendTest.php
  tests/bootstrap.php
Due: test-php-73, pages

Update config.php
  config.example.php
Due: none

Added trim to SMS subject
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

Added ZMS_CRONMASTER
  cron/cronjob.minutly
Due: none

Update SendQueue.php
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

Fixed E-Mail Bug having spaces in subject
  src/Zmsmessaging/SendQueue.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
