Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

fixed delete mail unit test
  tests/Zmsapi/ProcessDeleteMailTest.php
Due: test-php-73, pages

refs #55124 - remove main process of found list of processes by mail
  src/Zmsapi/ProcessConfirmationMail.php
Due: test-php-73, pages

refs #55122 - resolve references in summary process list to get provider contact data
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessListSummaryMail.php
Due: test-php-73, pages

remove main process from processList if exists
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

refactored SendMailReminder Helper with processList overview
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

reset daily cronjob changes
  cron/cronjob.daily
Due: none

refs #55118 - disable removeOldEventLogEntries cronjob initially
  migrations/55118-create-eventlog-table.sql
Due: none

refs #55118 - SendMailReminder Helper with main branch changes to avoid conflicts
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

refs #55114 - improvements and changes with dependency changes
  cron/cronjob.daily
  src/Zmsapi/ProcessListSummaryMail.php
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #55114 - additional changes after review
  CHANGELOG.md
  composer.json
  migrations/55118-create-eventlog-table.sql
  src/Zmsdb/Mail.php
  src/Zmsdb/Process.php
  tests/Zmsdb/MailTest.php
Due: test-php-73, pages

#55372 - providing mail preparation without process for overview mails
  CHANGELOG.md
  src/Zmsentities/Collection/ProcessList.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
  templates/lists/processes_summary.twig
  tests/Zmsentities/Helper/MessagingTest.php
Due: test-php-73, pages

refs #55114 - maria db version change
  .gitlab-ci.yml
  bin/deleteOldEventLogEntries
Due: test-php-73, pages

refs #55372 - empty processlist allowed with callback check
  CHANGELOG.md
  src/Zmsentities/Collection/ProcessList.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
  tests/Zmsentities/Helper/MessagingTest.php
  tests/Zmsentities/HelperMessagingTest.php
Due: test-php-73, pages

refs #55372 - test processlist length with allowing empty list parameter
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

rename toProcessListByStatusList function
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

remove commented line in migration that caused an error
  migrations/55118-create-eventlog-table.sql
Due: none

phpmd short variable issue in hasStringValue method
  src/Zmsdb/Base.php
Due: test-php-73, pages

remove shortRepetitionFailure because event log not active yet
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsadmin/Helper/KeyCloakAuth.php
Due: test-php-73, pages

update mariadb to 10.3 in gitlab-ci
  .gitlab-ci.yml
Due: test-php-73, pages

BROKEN - disable keykloak helper
  src/Zmsadmin/Helper/KeyCloakAuth.php
Due: test-php-73, pages

use text instead of json type for mariadb
  migrations/55118-create-eventlog-table.sql
Due: none

reset mariadb to version 10.1
  .gitlab-ci.yml
Due: test-php-73, pages

try JSON in mariadb without default value
  migrations/55118-create-eventlog-table.sql
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

fix swagger declaration for source/source endpoint
  routing.php
Due: pages

Using JSON in MariaDB workaround
  migrations/55118-create-eventlog-table.sql
Due: none

gitlab-ci mariadb service up to 10.3
  .gitlab-ci.yml
Due: test-php-73, pages

remove debug entry
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

fixed dldb data cronjob with ZMS_SOURCE_DLDB url
  cron/cronjob.hourly
Due: none

refs #55457 - fix status code to reflect the server condition
  src/Zmsclient/Status.php
Due: test-php-73, pages

refs #55457 - adjust HttpTest.php
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

refs #55456 - a function has been added that compares one provider list with another and only accepts matches
  src/Zmsentities/Collection/ProviderList.php
  tests/Zmsentities/ProviderTest.php
Due: test-php-73, pages

update Changelog
  CHANGELOG.md
  tests/Zmsentities/ProviderTest.php
Due: test-php-73, pages

refs #55456 - added a function that sorts a service provider list by ID without adding indexes
  CHANGELOG.md
  src/Zmsentities/Collection/ProviderList.php
Due: test-php-73, pages

refs #55456 - added unit tests to test providerlist sort by id
  tests/Zmsentities/ProviderTest.php
Due: test-php-73, pages
