Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

update composer
  composer.lock
Due: test-php-73

refs #55985 - add calendar legend to counter page
  templates/page/counter.twig
Due: test-php-73

refs #54692 - add headline to qrcode
  templates/block/marginal/infoColumn.twig
Due: test-php-73

refs #56121 - getSummerizedSlotCount with tempId if unsaved new availability exists
  src/Zmsentities/Collection/AvailabilityList.php
Due: test-php-73, pages

refs #55509 - fixed dublicated ids if there are multiple formelements in a loop
  templates/element/helper/form.twig
Due: test-php-73

fixed unit tests
  composer.lock
  tests/Zmsadmin/CalendarWeekTest.php
Due: test-php-73, pages

refs #55513 - add title attributes and removed aria-labels. Add icon to navigation with alt attribute for ticketprinter status
  templates/block/availability/monthtable.twig
  templates/block/calendar/calendar-weektable.twig
  templates/block/navigation/navigation.twig
Due: test-php-73

refs #55398 - add migration for oidc settings
  migrations/55398-config-oidc-settings.sql
Due: none

refs #55398 - add openid workstation login
  src/Zmsdb/Query/Workstation.php
  src/Zmsdb/Workstation.php
Due: test-php-73, pages

refs #55398 - add provider and verification conditions to oidc migration
  migrations/55398-config-oidc-settings.sql
Due: none

removed unused formal paramter
  src/Zmsdb/Workstation.php
Due: test-php-73, pages

changed WorkstationOAuth parameter
  routing.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

removed logs
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

removed payload and replaced with userdata
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

changed oauth lib
  routing.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

changed user import from zmsadmin to zmsapi
  config.example.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

changed code parameter validation
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

routing fix and resolveReferences
  routing.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - refactored openid login without superuser login, add oidc specs for session get and update
  composer.lock
  config.example.php
  src/Zmsapi/Exception/Workstation/WorkstationAuthFailed.php
  src/Zmsapi/SessionGet.php
  src/Zmsapi/SessionUpdate.php
  src/Zmsapi/WorkstationLogin.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - get openid logindata as raw array to avoid zmsentities dependencies in zmsslim middleware
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - Removed irrelevant code
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - refactored SessionHandler with additional write params
  composer.json
  composer.lock
  src/Zmsclient/SessionHandler.php
Due: test-php-73, pages

zmsslim to dev-dependencies, updated psr7 client and sessionhandler
  composer.json
  src/Zmsclient/Psr7/Client.php
  src/Zmsclient/SessionHandler.php
Due: test-php-73, pages

try to remove authkeys only if headers not sent already
  src/Zmsclient/Auth.php
Due: test-php-73, pages

update composer
  composer.json
Due: test-php-73

phpcbf fixes
  src/Zmsclient/Psr7/Client.php
Due: test-php-73, pages

refs #55398 - added auth methods for oidc provider cookie
  src/Zmsclient/Auth.php
Due: test-php-73, pages

moved OAuthMiddleware from zmsadmin to zmsslim
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

removed header
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refactor OAuthMiddleware code
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

rebase with main
  composer.json
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

code changes
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

phpcbf fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - refactored OAuthMiddleware with Keycloak provider as slim middleware
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - keycloak with refrehtoken lifespan
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

update requestflow without description
  requestflow.md
Due: none

reset requestflow with description
  requestflow.md
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
