Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

fix showing button and error message
  src/Zmsadmin/WorkstationProcessPreCall.php
  src/Zmsadmin/WorkstationSelect.php
Due: test-php-73, pages

ZMS-758: update slot time in minutes
  src/Zmsdb/Source/Dldb.php
Due: test-php-73, pages

ZMS-758: adjust phpmd ruleset
  phpmd.rules.xml
Due: none

ZMS-758: make slottime disabled
  js/page/availabilityDay/form/content.js
Due: none

ZMS-758: auto update time slot
  composer.json
  composer.lock
Due: test-php-73

ZMS-758: test
  src/Zmsdb/Source/Dldb.php
Due: test-php-73, pages

ZMS-758: test
  composer.lock
Due: test-php-73

ZMS-758: test
  src/Zmsdb/Provider.php
  src/Zmsdb/Source/Dldb.php
Due: test-php-73, pages

ZMS-758: composer update
  composer.lock
Due: test-php-73

ZMS-523 Export Warteschalnge bugfix
  src/Zmsadmin/ScopeAppointmentsByDayXlsExport.php
Due: test-php-73, pages

ZMS-758: update time slot
  src/Zmsdb/Provider.php
  src/Zmsdb/Source/Dldb.php
Due: test-php-73, pages

refs #56756 - refactored cron helper to remove expired reservations with improved logging
  composer.lock
  src/Zmsdb/Helper/ReservedDataDeleteByCron.php
  tests/Zmsdb/Helper/ReservedDataDeleteByCronTest.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

refs #56756 - reservations sorted by createTimestamp
  src/Zmsdb/Helper/ReservedDataDeleteByCron.php
  src/Zmsdb/Query/Process.php
  tests/Zmsdb/Helper/ReservedDataDeleteByCronTest.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsdb/Helper/ReservedDataDeleteByCron.php
Due: test-php-73, pages

refs #56756 - unit tests without verbose output
  tests/Zmsdb/Helper/ReservedDataDeleteByCronTest.php
Due: test-php-73, pages

ZMS-758: set default slot time
  js/page/availabilityDay/helpers.js
Due: none

refactored ReservedDataDeleteByCron and adjusted ReservedDataDeleteByCronTest, deleteReservedData, bin/test
  bin/deleteReservedData
  bin/test
  src/Zmsdb/Helper/ReservedDataDeleteByCron.php
  tests/Zmsdb/Helper/ReservedDataDeleteByCronTest.php
Due: test-php-73, pages

improved unit test
  src/Zmsdb/Helper/ReservedDataDeleteByCron.php
  tests/Zmsdb/Helper/ReservedDataDeleteByCronTest.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

update composer with rc tags for 2.25.*
  composer.json
  composer.lock
Due: test-php-73

Update composer
  composer.json
  composer.lock
Due: test-php-73

update composer with rc tags for 2.25.*
  composer.lock
Due: test-php-73

add missing zmsslim response factory
  src/Slim/Bootstrap.php
  src/Slim/Factory/ResponseFactory.php
  src/Slim/Middleware/HttpBasicAuth.php
  src/Slim/Middleware/IpAddress.php
  src/Slim/Middleware/Profiler.php
  src/Slim/Middleware/SessionHeadersHandler.php
  src/Slim/Middleware/SessionMiddleware.php
  src/Slim/Middleware/Validator.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
