Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

ZMS-710 activation mail
  src/Zmsadmin/Helper/Calendar.php
  src/Zmsadmin/Helper/QueueListHelper.php
  src/Zmsadmin/ProcessChange.php
  src/Zmsadmin/QueueTable.php
  src/Zmsadmin/ScopeAppointmentsByDay.php
  templates/page/configinfo.twig
Due: test-php-73, pages

update building swagger script and package.json
  bin/build_swagger.js
  package.json
Due: none

ZMS-821: test
  src/Zmsdb/Provider.php
Due: test-php-73, pages

ZMS-821: add display name
  src/Zmsdb/Provider.php
Due: test-php-73, pages

feat(ZMS-821): update composer
  composer.lock
Due: test-php-73

ZMS-821: fix typo
  src/Zmsdb/Provider.php
Due: test-php-73, pages

ZMS-821: add display name in mapping
  src/Zmsdb/Query/Provider.php
Due: test-php-73, pages

try httponly and secure options for zmsticketprinter cookies
  src/Zmsclient/Ticketprinter.php
Due: test-php-73, pages

writeConnection and writeCommit for availability list and single update
  src/Zmsapi/AvailabilityAdd.php
  src/Zmsapi/AvailabilityUpdate.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

do not use writeCommit method because its handeld in transactionMiddleware
  src/Zmsapi/AvailabilityAdd.php
  src/Zmsapi/AvailabilityUpdate.php
Due: test-php-73, pages

setHomeUrl cookie with expire timestamp, reset settings to previous once
  composer.lock
  src/Zmsclient/Ticketprinter.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsclient/Ticketprinter.php
Due: test-php-73, pages

Add compatibility to FF_NETWORK_PER_BUILD
  .gitlab-ci.yml
Due: test-php-73, pages

merge with berlin-rc-2.25.00 and update composer
  composer.lock
Due: test-php-73

merge with berlin-rc-2.25.00 and update composer
  composer.json
  composer.lock
Due: test-php-73

fix weekly overview
  package.json
  public/_css/admin.css
  public/_css/admin.css.map
Due: none

refs #56796 - fixed spaces in delete mail
  templates/messaging/mail_delete.twig
Due: test-php-73

ZMS-710
  src/Zmsadmin/Helper/Calendar.php
  src/Zmsadmin/ProcessChange.php
  src/Zmsadmin/ScopeAppointmentsByDay.php
Due: test-php-73, pages

ZMS-710
  src/Zmsentities/Collection/QueueList.php
  src/Zmsentities/Process.php
Due: test-php-73, pages

ZMS-710
  templates/messaging/mail_preconfirmed.twig
  templates/messaging/subjects.twig
Due: test-php-73

ZMS-710
  migrations/58398-config-appointments-confirm-url.sql
  src/Zmsdb/Helper/ProcessStatus.php
  src/Zmsdb/Helper/SendProcessListToScopeAdmin.php
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

ZMS-710
  routing.php
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessPreconfirm.php
  src/Zmsapi/ProcessPreconfirmationMail.php
Due: test-php-73, pages

render waiting clients count also if new value is 0
  js/block/waitingInfo.js
  public/_js/index.js
  public/_js/index.js.map
Due: none

ZMS-710 activation mail
  templates/messaging/mail_preconfirmed.twig
Due: test-php-73

ZMS-710 activate mail
  src/Zmsapi/ProcessConfirm.php
  src/Zmsapi/ProcessPreconfirm.php
Due: test-php-73, pages

ZMS-710 activated mail
  src/Zmsapi/ProcessConfirmationMail.php
Due: test-php-73, pages

ZMS-710 compsoer
  composer.lock
Due: test-php-73

composer
  composer.json
  composer.lock
Due: test-php-73

Add new file
  tobias-test.txt
Due: none

Delete tobias-test.txt
  tobias-test.txt
Due: none

Add new file
  src/Zmsentities/tobias-test.php
Due: test-php-73, pages
