Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

phpmd fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
Due: test-php-73, pages

refs #55398 - redesigned keycloak provider initiation with options from jsonfile
  src/Slim/Exception/OAuthFailed.php
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - removed zmsentities dependency from openid middleware
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

phpmd fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - add sequence diagram for oidc login and logout
  requestflow.md
Due: none

refs #55398 - check if verfified mail is required for keycloak login, use config migration for that
  src/Slim/Exception/OAuthPreconditionFailed.php
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/Gitlab/ResourceOwner.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/Keycloak/ResourceOwner.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

refs #55398 - prepared OpenID Connect for multiple providers like keycloak and gitlab
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/Gitlab/ResourceOwner.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

check requests query params for provider name instead of payload params
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - refactored refresh token handling
  src/Slim/Exception/OAuthInvalid.php
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - fixed getVerifiedEmail method name call
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
Due: test-php-73, pages

refs #55398 - fixed ressource owner creating for gitlab provider
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/Keycloak/ResourceOwner.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

remove debug information
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

refs
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

phpcbf fixes
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - add oidc provider to username
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
Due: test-php-73, pages

refs #55398 - add oidc provider gitlab to username
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
Due: test-php-73, pages

refs #55431 - adding more tests and a fix
  composer.lock
  src/Slim/Middleware/SubPath.php
  src/Slim/Middleware/TrailingSlash.php
  src/Slim/Request.php
  tests/Slim/Middleware/IpAddressTest.php
  tests/Slim/Middleware/ProfilerTest.php
  tests/Slim/Middleware/RequestHandlerMock.php
  tests/Slim/Middleware/SubPathTest.php
  tests/Slim/Middleware/TrailingSlashTest.php
  tests/Slim/Middleware/ValidatorTest.php
  tests/Slim/RequestTest.php
Due: test-php-73, pages

remove authkey only if headers not sent yet
  src/Zmsclient/Auth.php
Due: test-php-73, pages

refs #55431 - further improvements
  src/Slim/Bootstrap.php
  src/Slim/Headers.php
  src/Slim/Middleware/ZmsSlimRequest.php
  src/Slim/PhpUnit/Base.php
  src/Slim/Request.php
  tests/Slim/Middleware/IpAddressTest.php
  tests/Slim/Middleware/ProfilerTest.php
  tests/Slim/Middleware/SubPathTest.php
  tests/Slim/Middleware/TrailingSlashTest.php
  tests/Slim/Middleware/ValidatorTest.php
  tests/Slim/Middleware/ZmsSlimRequestTest.php
Due: test-php-73, pages

refs #54692 - add styles to qrcode headline
  js/block/analogClock.js
  js/block/queueList.js
  js/index.js
  js/lib/coolclock.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/marginal/clock.twig
  templates/block/marginal/infoColumn.twig
Due: test-php-73

refs #56114 - refresh clock every minute after 12 queue reloads
  js/block/analogClock.js
  js/block/queueList.js
  js/lib/coolclock.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/marginal/clock.twig
  templates/block/marginal/infoColumn.twig
Due: test-php-73

composer.lock mergefix
  composer.lock
Due: test-php-73

composer fix
  composer.json
  composer.lock
Due: test-php-73

composer muc fix
  composer.json
Due: test-php-73

composer muc fix
  composer.lock
Due: test-php-73

refs #55431 - first changes for the slim update
  composer.json
  composer.lock
  src/Zmsapi/Index.php
  tests/Zmsapi/ApikeyUpdateTest.php
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #55431 - further changes for the slim update
  src/Zmsapi/Helper/LogOperatorMiddleware.php
  src/Zmsapi/Helper/TransactionMiddleware.php
  tests/Zmsapi/Helper/LogOperatorMiddlewareTest.php
  tests/Zmsapi/Helper/TransactionMiddlewareTest.php
  tests/Zmsapi/Response/MessageTest.php
Due: test-php-73, pages

refs #55432 - further changes for php8 compatibility
  src/Zmsapi/Helper/UserAuth.php
  src/Zmsapi/Response/Message.php
  tests/Zmsapi/Base.php
Due: test-php-73, pages

refs #55431 - further necessary improvements
  src/Slim/Language.php
  src/Slim/Middleware/ZmsSlimRequest.php
  src/Slim/TwigExceptionHandler.php
  tests/Slim/Middleware/ZmsSlimRequestTest.php
Due: test-php-73, pages

refs #55431 - basepath handling fixed
  src/Slim/Bootstrap.php
  src/Slim/Middleware/SubPath.php
  src/Slim/Middleware/ZmsSlimRequest.php
  src/Slim/Request.php
  src/Slim/SlimApp.php
  tests/Slim/Middleware/SubPathTest.php
Due: test-php-73, pages

refs #56114 - Update of the analog clock every minute when the /info/ route is retrieved
  js/block/analogClock.js
  js/block/queueList.js
  js/block/waitingInfo.js
  public/_js/index.js
  public/_js/index.js.map
Due: none
