Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsstatistic/ /zmsstatistic/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsstatistic

use build-docker in ci, here we already were on php 8.0, so we can keep it
  .gitlab-ci.yml
Due: test-php-73, pages

hardwire bootstrap to disable dns checks on ValidMail
  bootstrap.php
Due: none

update composer
  composer.lock
Due: test-php-73

feat(ZMS-1263): add primary key
  migrations/1692265243-add-primary-key-clusterzuordnung.sql
Due: none

feat(ZMS-1263): fix table name
  migrations/1692265243-add-primary-key-clusterzuordnung.sql
Due: none

feat(ZMS-1263): add primary key in clusterzuordnung
  composer.lock
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

feat(ZMS-1173): set session duration
  src/Slim/Application.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

feat(ZMS-1173): fix cs
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

feat(ZMS-1127): set session duration
  composer.lock
Due: test-php-73

feat(ZMS-1173): update zmsslim
  composer.lock
Due: test-php-73

feat(ZMS-1263): primary key migration
  migrations/1692265243-add-primary-key-clusterzuordnung.sql
Due: none

feat(ZMS-1263): add migration for primary key
  composer.lock
Due: test-php-73

fix check for StandortID as discussed, it should be larger than zero
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

update composer.lock to new version of zmsdb
  composer.lock
Due: test-php-73

Delete tobias-trigger.txt
  tobias-trigger.txt
Due: none

fix addConditionIsReserved to allow all StandortIDs greater then zero
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

fix deletion of expired reserved processes by updating composer json and lock to zmsdb brnach muc-prod
  composer.json
  composer.lock
Due: test-php-73

Update 16032025-config-recalculate-slots.sql
  migrations/16032025-config-recalculate-slots.sql
Due: none

Muc feature zms 1263 add primary key
  composer.lock
Due: test-php-73

Revert "Merge branch 'muc-feature-zms-1263-add-primary-key' into 'muc-main'"
  composer.lock
Due: test-php-73

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages

update composer
  composer.json
  composer.lock
Due: test-php-73

Add new file
  migrations/29082023-standortkuerzel40.sql
Due: none

update composer.lock
  composer.lock
Due: test-php-73

add logging calls
  src/Zmsapi/WorkstationDelete.php
  src/Zmsapi/WorkstationLogin.php
Due: test-php-73, pages

Update composer
  composer.json
  composer.lock
Due: test-php-73

Add exceptions to sso
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

Add mellon to fix dependency conflicts
  composer.json
  composer.lock
  src/Zmsadmin/Index.php
  src/Zmsadmin/UseraccountAdd.php
Due: test-php-73, pages

update composer lock
  composer.lock
Due: test-php-73

refs #58442 - The totals line in the service statistics has been removed
  composer.json
  composer.lock
  templates/page/reportRequestIndex.twig
Due: test-php-73

Update changelog
  CHANGELOG.md
Due: none

fix bug when showing empty calender
  src/Zmsadmin/Helper/Calendar.php
Due: test-php-73, pages

fix password not editable for keycloak users
  src/Zmsadmin/Profile.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
