Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

Update composer
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

refs #55778 - offset checks for process client data
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

refs #55532 - input fields constraints are visible and accessible for screenreaders, not just with the error message
  public/_css/admin.css
  src/Zmsadmin/UseraccountAdd.php
  src/Zmsadmin/UseraccountEdit.php
  templates/block/useraccount/edit.twig
  templates/element/helper/form.twig
Due: test-php-73, pages

refs #55532 - improving formgroup structure
  templates/element/helper/form.twig
Due: test-php-73

removed payload and replaced with userdata
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

removed keycloak lib from composer
  composer.json
Due: test-php-73

changed payload and added keycloak lib to composer
  composer.json
  composer.lock
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

add json schema constraint to useraccounts departments property
  schema/useraccount.json
Due: test-php-73

remove wrong span attribute in form error message
  templates/element/helper/form.twig
Due: test-php-73

refs #55532 - introducing dom events with form rendering to increase description readability dynamically
  public/_css/admin.css
  templates/block/useraccount/edit.twig
  templates/element/helper/form.twig
Due: test-php-73

refs #55532 - using originally introduced descriptions
  src/Zmsadmin/UseraccountAdd.php
  src/Zmsadmin/UseraccountEdit.php
Due: test-php-73, pages

refs #55532 - additional description for useraccounts id minLength
  schema/useraccount.json
Due: test-php-73

refs #55532 - update admin-scss to last version, use customized json schema descriptions
  package.json
  public/_css/admin.css
  public/_css/admin.css.map
  src/Zmsadmin/UseraccountAdd.php
  src/Zmsadmin/UseraccountEdit.php
  templates/block/useraccount/edit.twig
Due: test-php-73, pages

Implemented Docker Image Build
  .gitlab-ci.yml
  Dockerfile
Due: test-php-73, pages

refs #55532 - Description highlighting removed after consultation with product innovation
  src/Zmsadmin/BaseController.php
  src/Zmsadmin/Profile.php
  templates/block/useraccount/edit.twig
  templates/block/useraccount/list.twig
  templates/block/useraccount/listByDepartment.twig
  templates/block/useraccount/profile/changepassword.twig
Due: test-php-73, pages

increased useraccount fa icons
  templates/block/useraccount/list.twig
Due: test-php-73

fix mysql location geojson
  src/Dldb/MySQL/Location.php
Due: test-php-73, pages

refs #55625 - Mailing texts were adapted in terms of content
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_delete.twig
  templates/messaging/mail_processlist_overview.twig
  templates/messaging/mail_queued.twig
  templates/messaging/mail_reminder.twig
  templates/messaging/mail_survey.twig
  templates/messaging/snippets.twig
  templates/messaging/subjects.twig
  tests/Zmsentities/Helper/MessagingTest.php
  tests/Zmsentities/MailTest.php
Due: test-php-73, pages

composer update, keep personal data on process update
  composer.lock
  src/Zmsapi/ProcessUpdate.php
Due: test-php-73, pages

refs #55532 - useraccount unit tests with new validation for selected department
  tests/Zmsdb/UserAccountTest.php
Due: test-php-73, pages

refs #55532 - useraccount unit tests with new validation for selected department
  composer.lock
  src/Zmsapi/Exception/Useraccount/UseraccountNoDepartments.php
  src/Zmsapi/UseraccountAdd.php
  src/Zmsapi/UseraccountUpdate.php
  tests/Zmsapi/UseraccountAddTest.php
  tests/Zmsapi/UseraccountUpdateTest.php
Due: test-php-73, pages

refs #55778 - new client check for familyName property
  src/Zmsentities/Client.php
Due: test-php-73, pages

refs #55778 - test personal client data before update process
  composer.lock
  src/Zmsdb/Query/Process.php
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

refs #55625 - add mail template for empty process summary to configinfo
  composer.lock
  templates/page/configinfo.twig
Due: test-php-73

phpcs fixes
  src/Zmsadmin/BaseController.php
Due: test-php-73, pages

update mysql add exit code
  bin/update_mysql
Due: none

update mysql add exit code
  bin/dldbget-v2
Due: none

update mysql add debug
  src/Dldb/Importer/MySQL/Entity/Service.php
Due: test-php-73, pages

refs #55539 - aria-live attribute only to selected regions
  js/block/appointment/requests.js
  js/block/process/next/index.js
  js/block/scope/loginselectform.js
  js/lib/inputs/date.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/appointment/form.twig
  templates/block/appointment/formContainer.twig
  templates/block/appointment/freeProcessList.twig
  templates/block/process/called.twig
  templates/block/process/footer.twig
  templates/element/helper/form.twig
  templates/page/counter.twig
  templates/page/workstation.twig
Due: test-php-73

ariaLive argument wording
  templates/element/helper/form.twig
Due: test-php-73

fixed saving changed scope form
  src/Zmsadmin/Scope.php
  templates/block/scope/form.twig
Due: test-php-73, pages

refs #55539 - avoid double reading and overlaying aria-live attributes
  js/block/appointment/requests.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/appointment/form.twig
Due: test-php-73

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
