Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

refs #55146 - bin/configure with describe tags --always flag
  bin/configure
Due: none

refs #55146 - remove make js from gitlab-ci
  .gitlab-ci.yml
Due: test-php-73, pages

set branch-alias to 2.24.09
  composer.json
Due: test-php-73

refs #55146 - remove make js from gitlab-ci
  composer.lock
Due: test-php-73

set branch-alias to 2.24.x
  composer.json
Due: test-php-73

set main branch-alias to 2.24.x-dev
  composer.json
Due: test-php-73

set main branch-alias to 2.24.09-dev
  composer.json
Due: test-php-73

add missing method to twigextensions
  composer.json
  src/Slim/TwigExtension.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Slim/TwigExtension.php
Due: test-php-73, pages

fix phpmd issues
  src/Slim/TwigExtension.php
Due: test-php-73, pages

remove branch alias
  composer.json
Due: test-php-73

use branch-alias for dev
  composer.json
Due: test-php-73

update composer
  composer.json
  composer.lock
Due: test-php-73

fixed unit test for failing custom notification
  tests/Zmsadmin/fixtures/GET_process_194104_2b88_notification.json
Due: test-php-73, pages

refs #55146 - fixed unit tests
  tests/Zmsadmin/fixtures/GET_processList_with_csvInjection.json
  tests/Zmsadmin/fixtures/GET_process_spontankunde_pickup.json
Due: test-php-73, pages

fixed phpcbf issues
  tests/Zmsadmin/AppointmentFormFreeProcessListTest.php
  tests/Zmsadmin/ProcessReserveTest.php
  tests/Zmsadmin/ProcessSaveTest.php
  tests/browser/lib/roles.js
Due: test-php-73, pages

update readme and .gitlab-ci
  .gitlab-ci.yml
  Makefile
  README.md
Due: test-php-73, pages

modified phpunit.xml
  phpunit.xml
Due: none

remove VERSION from configure
  VERSION
  bin/configure
Due: none

update changelog
  CHANGELOG.md
Due: none

refs #55077,55079 - Links and holidays that can be assigned to an authority are now checked if they exist, When editing a process, the reminder time is displayed again
  src/Zmsadmin/Department.php
  src/Zmsadmin/Helper/GraphDefaults.php
  templates/block/appointment/form.twig
Due: test-php-73, pages

remove dump
  templates/block/appointment/form.twig
Due: test-php-73

openid initial
  composer.json
  config.example.php
  src/Zmsadmin/Index.php
Due: test-php-73, pages

change exception code for ScopeNoAccess to 403
  src/Zmsapi/Exception/Scope/ScopeNoAccess.php
Due: test-php-73, pages

Update .gitlab-ci.yml with code coverage statement
  .gitlab-ci.yml
Due: test-php-73, pages

Update .gitlab-ci.yml with line coverage
  .gitlab-ci.yml
Due: test-php-73, pages

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages

corrected noAccess test with 403 status code
  tests/Zmsapi/CounterGhostWorkstationTest.php
Due: test-php-73, pages

corrected noAccess tests with 403 status code
  tests/Zmsapi/ScopeEmergencyRespondTest.php
  tests/Zmsapi/ScopeEmergencyStopTest.php
  tests/Zmsapi/ScopeEmergencyTest.php
Due: test-php-73, pages

add stagebranch file for rpm into bin
  bin/STAGEBRANCH
Due: none

refs #31586 - write Log Entry for Mail and Notification Reminder
  src/Zmsdb/Helper/SendMailReminder.php
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

phpcs fixes
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

set branch-alias
  composer.json
Due: test-php-73

apidoc run on tests changes
  .gitlab-ci.yml
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
