Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

run composer in gitlab ci without scripts
  .gitlab-ci.yml
Due: test-php-73, pages

phpcbf fixes
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

remove wrong type of writeLogEntry method call
  src/Zmsdb/Helper/SendMailReminder.php
  src/Zmsdb/Helper/SendNotificationReminder.php
Due: test-php-73, pages

update compsoer with branch-alias and add toString method to mail entity
  composer.json
  src/Zmsentities/Mail.php
Due: test-php-73, pages

fixed mail __toString method
  src/Zmsentities/Mail.php
Due: test-php-73, pages

add zmsentities to composer
  composer.json
Due: test-php-73

add __toString method to notification entity
  src/Zmsentities/Notification.php
Due: test-php-73, pages

refs #31586 - corrected reminder interval calculation for notifications
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

corrected unit tests for notification reminder helper and delete reminderTimestamp only if --commit argument exists
  src/Zmsdb/Helper/SendNotificationReminder.php
  tests/Zmsdb/ProcessNotificationTest.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

Delete composer.phar
  bin/composer.phar
Due: none

update Makefile without composer.phar
  Makefile
Due: none

update makefile with changed composer call
  Makefile
Due: none

add compiled css and js in public folder
  .gitignore
  public/_css/admin.css
  public/_css/admin.css.map
  public/_js/index.js
  public/_js/index.js.map
Due: none

refs #55117 - eventlog entity creation with generic collection
  schema/eventlog.json
  src/Zmsentities/Collection/GenericList.php
  src/Zmsentities/EventLog.php
Due: test-php-73, pages

refs #55116 - migration script to create the eventlog table
  migrations/55118-create-eventlog-table.sql
Due: none

refs #55118 - source handling for eventlog entities
  src/Zmsdb/Base.php
  src/Zmsdb/EventLog.php
  src/Zmsdb/Mail.php
  src/Zmsdb/Query/EventLog.php
  tests/Zmsdb/EventLogTest.php
Due: test-php-73, pages

update public css and js
  package.json
  public/_css/background_anzeige1.8e638d08.png
  public/_css/background_anzeige1_1920.bc9eff88.png
  public/_css/background_anzeige1_1920_behoerde_80.aef875ec.png
  public/_css/background_anzeige1_behoerde_80.b753a749.png
  public/_css/background_anzeige1_hoch.a73ccd93.png
  public/_css/background_anzeige1_hoch_1920.86f30aa9.png
  public/_css/background_anzeige1_hoch_1920_behoerde_80.50058120.png
  public/_css/background_anzeige1_hoch_behoerde_80.b8f91f5d.png
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  public/_css/invisible_Mauszeiger.e28f8c73.cur
  public/_js/index.js
  public/_js/index.js.map
Due: none

fix getLocationHintByServiceId no array
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

refs #54692 - link for webcalldisplay added
  js/block/calldisplay/config/index.js
  routing.php
Due: pages

refs #34087 - update only config values that have been changed
  src/Zmsdb/Config.php
Due: test-php-73, pages

refs #34087 - Config variables can now be changed by superuser
  routing.php
  src/Zmsapi/ConfigUpdate.php
  tests/Zmsapi/ConfigUpdateTest.php
Due: test-php-73, pages

refs #34087 - Config variables can now be changed by superuser
  js/index.js
  js/lib/dialogHandler.js
  js/page/config/index.js
  routing.php
  src/Zmsadmin/ConfigInfo.php
  templates/element/helper/dialog/config_replace_property.twig
  templates/element/helper/messages.twig
  templates/layout/main.twig
  templates/page/configinfo.twig
  tests/Zmsadmin/ConfigInfoTest.php
Due: test-php-73, pages

update public js
  public/_js/index.js
  public/_js/index.js.map
Due: none

phpcbf fixes
  src/Zmsadmin/ConfigInfo.php
Due: test-php-73, pages

modified checksum for redoc.standalone.js cdn file
  checksums.txt
Due: none

Update composer
  composer.lock
Due: test-php-73

remove branch alias because of composer update issues
  composer.json
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

add composer.lock to gitignore
  .gitignore
Due: none

remove composer.lock from git
  composer.lock
Due: test-php-73

View of config values improved
  templates/page/configinfo.twig
Due: test-php-73

refs #31586 - exact reminder interval to the minute was corrected
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages
