Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

update changelog
  CHANGELOG.md
Due: none

fix hidding spinner
  js/page/workstation/index.js
Due: none

add MySQL Search Helper
  src/Dldb/Helper/MySQL/Search.php
  src/Dldb/Importer/MySQL/Entity/Service.php
  src/Dldb/MySQL/Link.php
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Service.php
  src/Dldb/MySQL/Topic.php
Due: test-php-73, pages

refs #54692 - improvements
  bin/test
Due: none

list useraccounts with system-wide access rights for superusers
  src/Zmsapi/UseraccountList.php
  tests/Zmsapi/UseraccountListTest.php
Due: test-php-73, pages

update package.json and composer
  composer.lock
  package.json
  public/_css/admin.css
  public/_css/admin.css.map
Due: test-php-73

remove double check for superuser rights, refactored exception if workstation missing assigned departments
  src/Zmsadmin/Useraccount.php
  templates/exception/bo/zmsentities/exception/workstationmissingassigneddepartments.twig
Due: test-php-73, pages

phpmd: avoid excessively long variable names
  src/Zmsapi/UseraccountList.php
Due: test-php-73, pages

fixed unit test after useraccount changes
  tests/Zmsadmin/UseraccountTest.php
Due: test-php-73, pages

get useraccounts with system wide access by evaluating assigned departmentlist
  src/Zmsapi/UseraccountList.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsapi/UseraccountList.php
Due: test-php-73, pages

refs #55514 - add exclamation icon to exception and error messages with alt and title attribute
  js/lib/validationHandler.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/scaffholding/board.twig
  templates/element/helper/form.twig
  templates/exception/bo/layout.twig
  templates/exception/bo/zmsadmin/exception/process/processnotpending.twig
  templates/exception/bo/zmsapi/exception/matching/requestnotfound.twig
  templates/exception/bo/zmsapi/exception/process/processalreadycalled.twig
  templates/exception/bo/zmsapi/exception/process/processbyqueuenumbernotfound.twig
  templates/exception/bo/zmsapi/exception/process/processnotfound.twig
  templates/exception/bo/zmsapi/exception/process/processreservednotcallable.twig
  templates/exception/bo/zmsapi/exception/useraccount/invalidcredentials.twig
  templates/exception/bo/zmsapi/exception/workstation/workstationhasassignedprocess.twig
  templates/exception/bo/zmsclient/apifailed.twig
  templates/exception/bo/zmsdb/exception/process/processreservefailed.twig
  templates/exception/bo/zmsdb/exception/request/requestnotfound.twig
  templates/exception/bo/zmsdb/exception/source/sourceinvalidinput.twig
  templates/exception/bo/zmsdb/exception/source/unknowndatasource.twig
  templates/exception/bo/zmsentities/exception/schemavalidation.twig
  templates/exception/bo/zmsentities/exception/workstationprocessmatchscopefailed.twig
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

refs #55625 - mail template adjustments
  templates/lists/processes_summary.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_delete.twig
  templates/messaging/mail_reminder.twig
Due: test-php-73

refs #55625 - unit test adjustments
  tests/Zmsentities/Helper/MessagingTest.php
Due: test-php-73, pages

unit test fixes
  composer.lock
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #55684 - removed logo from calldisplay background images
  public/_css/background_anzeige1.8e638d08.png
  public/_css/background_anzeige1_1920.bc9eff88.png
  public/_css/background_anzeige1_1920_behoerde_80.aef875ec.png
  public/_css/background_anzeige1_behoerde_80.b753a749.png
  public/_css/background_anzeige1_hoch.a73ccd93.png
  public/_css/background_anzeige1_hoch_1920.86f30aa9.png
  public/_css/background_anzeige1_hoch_1920_behoerde_80.50058120.png
  public/_css/background_anzeige1_hoch_behoerde_80.b8f91f5d.png
Due: none

refs #55432 - fixing a comparison and array usage
  src/Zmsentities/Collection/DayList.php
  src/Zmsentities/Request.php
Due: test-php-73, pages

#55432 - fixing variable type dependent usage
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

refs #55432 - make the code php8 compatible
  composer.json
  composer.lock
  src/Slim/TwigExtension.php
Due: test-php-73, pages

refs #55432 - adjustment for dumping variables
  composer.json
  composer.lock
  src/Zmsclient/TwigExtension.php
Due: test-php-73, pages

refs #55432 - fixes for login and availability cache usage
  src/Zmsdb/Availability.php
  src/Zmsdb/Query/Workstation.php
  src/Zmsdb/Workstation.php
  tests/Zmsdb/AvailabilityTest.php
Due: test-php-73, pages

refs #55527 - Improved headings and button texts for accessibility
  templates/element/helper/messages.twig
Due: test-php-73

removed logs
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

oauth middleware
  bootstrap.php
  composer.lock
  src/Zmsadmin/Helper/OAuthMiddleware.php
  src/Zmsadmin/Index.php
  src/Zmsadmin/OAuth.php
  templates/page/index.twig
Due: test-php-73, pages

code redo
  routing.php
  src/Zmsadmin/Index.php
Due: test-php-73, pages

code redo
  src/Zmsadmin/Index.php
Due: test-php-73, pages

refs #55533 - fixed w3c errors in html code
  js/block/process/next/index.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/process/footer.twig
  templates/layout/fullwidth.twig
  templates/layout/main.twig
Due: test-php-73

Added user env
  config.example.php
  src/Zmsadmin/Helper/OAuthMiddleware.php
Due: test-php-73, pages

refs #55523 - form rendering for accesskey within select-input fixed
  src/Zmsadmin/WorkstationSelect.php
  templates/block/workstation/selectform.twig
  templates/element/helper/form.twig
Due: test-php-73, pages

refs #55531 - refactored error messages with aria-labeledby
  js/lib/validationHandler.js
  public/_js/index.js
  public/_js/index.js.map
  templates/element/helper/form.twig
Due: test-php-73
