Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

removed debugging information
  src/Zmsadmin/UrlParameterSigning.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsadmin/UrlParameterSigning.php
Due: test-php-73, pages

refs #54692 - signing fixed and tests adjusted
  src/Slim/Helper.php
  tests/Slim/HelperTest.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

fixed phpcbf issues
  src/Zmscalldisplay/Index.php
Due: test-php-73, pages

refs #54692 - use config api call for webcalldisplay baseurl setting
  config.example.php
  src/Zmscalldisplay/Application.php
  src/Zmscalldisplay/Index.php
  tests/Zmscalldisplay/IndexCustomizedClusterTest.php
  tests/Zmscalldisplay/IndexCustomizedDepartmentTest.php
  tests/Zmscalldisplay/IndexTest.php
  tests/Zmscalldisplay/fixtures/GET_config.json
Due: test-php-73, pages

reduced complexity of hashing paramter helper
  src/Slim/Helper.php
Due: test-php-73, pages

update composer and config.json fixture
  composer.lock
  tests/Zmsadmin/fixtures/GET_config.json
Due: test-php-73, pages

build url for qr code with origin in javascript
  js/block/qrCode.js
  public/_js/index.js
  public/_js/index.js.map
  src/Zmscalldisplay/Index.php
  tests/Zmscalldisplay/IndexTest.php
Due: test-php-73, pages

remove unused variables
  src/Zmscalldisplay/Index.php
Due: test-php-73, pages

refs #55964 - process->readSlotcount() function now calculates the slots in the same way as the slots are calculated for the calendar
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Process.php
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

refs #55964 - The calculation of slots according to selected services has been corrected
  js/block/appointment/requests.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/appointment/form.twig
Due: test-php-73

update composer and remove OAuthMiddleware from boostrap
  bootstrap.php
  composer.lock
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

refs #54692 - fixed query parameters for webcalldisplay qrcode
  src/Zmscalldisplay/Index.php
  tests/Zmscalldisplay/IndexTest.php
Due: test-php-73, pages

refs #54692 - new methods for generic building a hashed url from static paramterlist
  src/Zmscalldisplay/BaseController.php
  src/Zmscalldisplay/Index.php
  templates/block/marginal/infoColumn.twig
  tests/Zmscalldisplay/IndexCustomizedClusterTest.php
  tests/Zmscalldisplay/IndexCustomizedDepartmentTest.php
  tests/Zmscalldisplay/IndexTest.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmscalldisplay/BaseController.php
Due: test-php-73, pages

declare visibility on static property
  src/Zmscalldisplay/BaseController.php
Due: test-php-73, pages

update composer
  bootstrap.php
  composer.json
  composer.lock
Due: test-php-73

set default signature key
  src/Zmsadmin/Application.php
Due: test-php-73, pages

set default signature key
  src/Zmscalldisplay/Application.php
Due: test-php-73, pages

fixed Auth::removeKey with cookie domain to remove authkey
  src/Zmsclient/Auth.php
Due: test-php-73, pages

refs #55398 - refactored OAuthMiddleware with Keycloak provider as slim middleware
  composer.lock
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuth/OAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - refactored SessionHandler with additional write params
  composer.json
  composer.lock
  src/Zmsclient/SessionHandler.php
Due: test-php-73, pages

refs #55398 - add useraccount method to create entity from openid ownerdata
  src/Zmsentities/Useraccount.php
Due: test-php-73, pages

refs #55398 - useraccount openid data with random inital password by name and email chars
  src/Zmsentities/Useraccount.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsentities/Session.php
  src/Zmsentities/Useraccount.php
Due: test-php-73, pages

zmsslim to dev-dependencies, updated psr7 client and sessionhandler
  composer.json
  composer.lock
  src/Zmsclient/Psr7/Client.php
  src/Zmsclient/SessionHandler.php
Due: test-php-73, pages

update composer
  composer.json
  composer.lock
Due: test-php-73

refs #55398 - keycloak with refrehtoken lifespan
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - add openid workstation login
  src/Zmsdb/Query/Workstation.php
  src/Zmsdb/Workstation.php
Due: test-php-73, pages

refs #55398 - refactored openid login without superuser login, add oidc specs for session get and update
  composer.lock
  config.example.php
  src/Zmsapi/Exception/Workstation/WorkstationAuthFailed.php
  src/Zmsapi/SessionGet.php
  src/Zmsapi/SessionUpdate.php
  src/Zmsapi/WorkstationLogin.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
