Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

refs #55116 - add input to process for delete notification
  src/Zmsapi/ProcessDeleteNotification.php
Due: test-php-73, pages

remove systemstatus check from mail templates cause its not existing
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_delete.twig
  templates/messaging/mail_reminder.twig
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

fixed typo
  templates/lists/processes_summary.twig
Due: test-php-73

fixed healthcheck unit test
  tests/Zmsadmin/HealthcheckTest.php
  tests/Zmsadmin/fixtures/GET_status_200.json
Due: test-php-73, pages

add healthcheck unit test for 500 http code
  tests/Zmsadmin/HealthcheckTest.php
Due: test-php-73, pages

refs #55114 - create appointment summary only if it is enabled in config
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

refs #55114 - create appointment summary only if it is enabled in config
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessDeleteMail.php
  src/Zmsapi/ProcessListSummaryMail.php
Due: test-php-73, pages

add notification reminder template
  src/Zmsentities/Helper/Messaging.php
  templates/messaging/notification_reminder.twig
Due: test-php-73, pages

refs #31338 - notification reminder template - removed html tags
  templates/messaging/notification_reminder.twig
Due: test-php-73

refs #31338 - notification headsup time calculated to selected appointment
  templates/block/appointment/form.twig
Due: test-php-73

update changelog
  CHANGELOG.md
Due: none

removed broken unit test
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #54692 - improvements and fixes
  config.example.php
  src/Zmscalldisplay/Application.php
  src/Zmscalldisplay/Helper/Calldisplay.php
  src/Zmscalldisplay/Index.php
Due: test-php-73, pages

update composer and checksum
  checksums.txt
  composer.lock
Due: test-php-73

refs #54692 - improvements
  src/Slim/Application.php
  src/Slim/Bootstrap.php
  src/Slim/Helper.php
  tests/Slim/HelperTest.php
Due: test-php-73, pages

try pinned redoc.min.js for open api documentation
  .gitlab-ci.yml
Due: test-php-73, pages

bin/configuge in gitlab-ci before apidoc creating
  .gitlab-ci.yml
Due: test-php-73, pages

changed redoc.standalone.js to redoc.min.js
  public/doc/index.html
Due: none

changed redoc.standalone.js to redoc.min.js
  composer.json
Due: test-php-73

changed checksums for redoc.min.js
  .gitignore
  checksums.txt
Due: none

refs #55561 - use additional failure message Fehler: for error messages
  templates/element/helper/form.twig
  templates/element/helper/messages.twig
  templates/page/configinfo.twig
Due: test-php-73

refs #55496 - removed aria-modal tag from emergency div
  templates/block/emergency/emergency.twig
Due: test-php-73

refs #55127 - refactored processlist summary with department from placeholder department
  schema/config.json
  src/Zmsentities/Mail.php
  templates/lists/processes_summary.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_processlist_overview.twig
  templates/messaging/snippets.twig
  tests/Zmsentities/Helper/MessagingTest.php
Due: test-php-73, pages

refs #55127 - get first client from mail entity instead of process entity
  src/Zmsdb/Mail.php
Due: test-php-73, pages

refs #55127 - add config migration to set no reply department id
  migrations/55127-config-mailings-no-reply.sql
Due: none

fixed phpcbf issues
  src/Zmsdb/Mail.php
Due: test-php-73, pages
