Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

us php8 compatible branch for zmsdldb in composer.json
  composer.json
Due: test-php-73

update composer
  composer.json
  composer.lock
Due: test-php-73

fixed phpcbf issues
  src/Dldb/Helper/MySQL/Search.php
  src/Dldb/MySQL/Authority.php
  src/Dldb/MySQL/Link.php
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Service.php
  src/Dldb/MySQL/Topic.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

update composer with updated zmsdb and zmsdldb
  composer.json
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

phpcbf fixes
  src/Zmsapi/Index.php
Due: test-php-73, pages

add handle method to get response in middleware
  src/Slim/Middleware/SessionHeadersHandler.php
Due: test-php-73, pages

remove commit id from required zmsslim branch
  composer.json
Due: test-php-73

#ZMS-792 warning text change
  templates/block/index/welcome.twig
Due: test-php-73

fixed exception and error handling within slim middleware
  bin/configure
  bootstrap.php
  routing.php
  src/Zmsapi/Helper/ErrorHandler.php
Due: test-php-73, pages

use decorated zmsslim request for exception handling, set errorMiddleware to slim container
  composer.lock
  src/Slim/Bootstrap.php
  src/Slim/Middleware/SessionMiddleware.php
  src/Slim/Middleware/ZmsSlimRequest.php
  src/Slim/TwigExceptionHandler.php
Due: test-php-73, pages

set composer platform minimum to php7.3
  composer.json
  composer.lock
Due: test-php-73

fixed routingTests with exception and notfound errors
  tests/Slim/RoutingTest.php
Due: test-php-73, pages

handle cookies only if headers not sent
  src/Zmsclient/Auth.php
Due: test-php-73, pages

fixed VersionTest
  tests/Zmsapi/VersionTest.php
Due: test-php-73, pages

minimum stable platform php has to be 7.3
  composer.json
  composer.lock
Due: test-php-73

fixed errorHandler middleware initiation
  composer.lock
  src/Slim/Bootstrap.php
  tests/Slim/RoutingTest.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsapi/Helper/ErrorHandler.php
Due: test-php-73, pages

suppress complexity warnings for ErrorHandler
  src/Zmsapi/Helper/ErrorHandler.php
Due: test-php-73, pages

Update composer
  composer.json
  composer.lock
Due: test-php-73

Indentations were corrected
  routing.php
  src/Zmscalldisplay/Info.php
Due: test-php-73, pages

Update composer with zmsdb 2.24.14-rc2
  composer.lock
Due: test-php-73

Update composer with zmsdb 2.24.14-rc2
  composer.json
  composer.lock
Due: test-php-73

set new slim errorHandling middleware and update composer
  bootstrap.php
  composer.json
  composer.lock
  routing.php
  src/Zmscalldisplay/Helper/TwigExceptionHandler.php
  templates/page/404.twig
Due: test-php-73, pages

remove session serialize handler from bootstrap and fixed some settings like in zmsadmin bootstrap
  bootstrap.php
Due: none

fixed wrong false return for authkey Header to avoid rfc fatal error
  src/Zmsclient/Auth.php
Due: test-php-73, pages

update TwigExtension and composer for php8 compatbility
  composer.json
  composer.lock
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

fixed TwigFunction calls
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

ZMS-830 Session error fix on Login
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

check for offset or array key existing
  src/Dldb/Entity/Base.php
  src/Dldb/Entity/Location.php
Due: test-php-73, pages

array_key_exists fixes for objects
  composer.lock
  src/Dldb/Entity/Base.php
  src/Dldb/Entity/Location.php
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

fixed creating immutable datetime by timestamp
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

refactored and fixed service and location search results
  src/Dldb/File/Base.php
  src/Dldb/File/Service.php
Due: test-php-73, pages

fixed location csv by appointments and check if property exists method
  src/Dldb/Entity/Base.php
  src/Dldb/Entity/Location.php
Due: test-php-73, pages

ZMS-830 Slim Update
  composer.lock
Due: test-php-73
