Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

update composer
  composer.lock
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

adjust department schema
  schema/department.json
Due: test-php-73

configurable email reminder
  bin/sendMailReminder
  migrations/357261-add-email-reminder-columns-in-email-table.sql
  src/Zmsdb/Department.php
  src/Zmsdb/Helper/SendMailReminder.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/Department.php
  src/Zmsdb/Query/Process.php
  tests/Zmsdb/ProcessMailReminderTest.php
Due: test-php-73, pages

remove unnecessary code
  src/Zmsentities/Collection/UseraccountList.php
Due: test-php-73, pages

adjust default email reminder time
  cron/cronjob.minutly
Due: none

Update README.md
  README.md
Due: none

add more fields in department settints
  templates/block/department/form.twig
Due: test-php-73

fix line length
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

install zmsentities
  composer.lock
Due: test-php-73

composer update
  composer.lock
Due: test-php-73

fix getting processes for reminder query
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

adjust varaible naming rule
  phpmd.rules.xml
Due: none

Exclude LongVariable rule
  phpmd.rules.xml
Due: none

adjust test
  tests/Zmsdb/ProcessMailReminderTest.php
Due: test-php-73, pages

fix tests
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

fix code style
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

type hinting improvement for code analyzing tools
  src/Zmsclient/Result.php
Due: test-php-73, pages

missing commit
  src/Zmsclient/Result.php
Due: test-php-73, pages

Update file dldbget
  bin/dldbget
Due: none

adjust dependencies for relase branch
  composer.json
  composer.lock
Due: test-php-73

adjust dependencies for release sprint 14
  composer.json
  composer.lock
Due: test-php-73

Add trigger file
  tobias-trigger.txt
Due: none

Update KeycloakInstance.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

fix regression concerning scripts in composer
  composer.json
Due: test-php-73

OpenId fix - email missing when config not set
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
Due: test-php-73, pages

composer muc fix
  composer.lock
Due: test-php-73

trigger commit
  README.md
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
