Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

update changelog
  CHANGELOG.md
Due: none

refs #31338 - fixed graphql scope preferences
  src/Zmsadmin/Helper/GraphDefaults.php
Due: test-php-73, pages

#55117 changes to event log loading and storing, adding tests, mail templates
  composer.json
  schema/eventlog.json
  src/Zmsentities/Collection/EventLogList.php
  src/Zmsentities/Collection/QueueList.php
  src/Zmsentities/EventLog.php
  src/Zmsentities/Helper/DateTime.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Helper/ProcessFormValidation.php
  src/Zmsentities/Mail.php
  src/Zmsentities/Process.php
  src/Zmsentities/Schema/Schema.php
  templates/lists/processes_summary.html.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_processlist_summary_de.html.twig
  templates/messaging/mail_reminder.twig
  tests/Zmsentities/EventLogTest.php
  tests/Zmsentities/ExchangeTest.php
Due: test-php-73, pages

#55117 fixing bootstrap for unit tests
  tests/bootstrap.php
Due: test-php-73, pages

refs #55118 - changing EventLog, Mail and Process details
  migrations/55118-create-eventlog-table.sql
  src/Zmsdb/Base.php
  src/Zmsdb/EventLog.php
  src/Zmsdb/Helper/MailHelper.php
  src/Zmsdb/Mail.php
  src/Zmsdb/Process.php
  src/Zmsdb/Query/EventLog.php
  tests/Zmsdb/Base.php
  tests/Zmsdb/EventLogTest.php
  tests/Zmsdb/PreferencesTest.php
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

#55117 small mail improvement
  templates/messaging/mail_processlist_summary_de.html.twig
Due: test-php-73

refs #55118 - cronjob and eventLog fixes
  bin/removeOldEventLogEntries
  composer.json
  migrations/55118-create-eventlog-table.sql
  src/Zmsdb/Helper/EventLogCleanUpByCron.php
  src/Zmsdb/Query/EventLog.php
Due: test-php-73, pages

refs #55122 - API route for processes summary mail
  cron/cronjob.daily
  routing.php
  src/Zmsapi/Exception/Process/ProcessListSummaryTooOften.php
  src/Zmsapi/ProcessListSummaryMail.php
Due: test-php-73, pages

update VERSION
  VERSION
Due: none

Delete VERSION
  VERSION
Due: none

#24 Openid
  src/Zmsadmin/Index.php
Due: test-php-73, pages

refs #55118 - changes after review
  src/Zmsdb/Helper/MailHelper.php
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

refs #55122 - changes after review
  src/Zmsapi/Application.php
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessListSummaryMail.php
Due: test-php-73, pages

refs #55372 - adding tests and changing Messaging to use a processList for additional processes used in templates
  src/Zmsentities/Helper/Mailing.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
  templates/lists/processes_summary.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_processlist_summary.twig
  templates/messaging/mail_reminder.twig
  tests/Zmsentities/Helper/MailingTest.php
  tests/Zmsentities/Helper/MessagingTest.php
Due: test-php-73, pages

add oauth2-keycloak lib to zmsclient
  composer.json
Due: test-php-73

Update VERSION
  VERSION
Due: none

removed VERSION file
  .gitignore
  VERSION
Due: none

write git tag version in VERSION file
  bin/configure
Due: none

remove keycloak lib from zmsclient
  composer.json
Due: test-php-73

add keycloak lib for testing openid-connect
  composer.json
Due: test-php-73

configure application in apidoc ci stage to get VERSION file for swagger building
  .gitlab-ci.yml
Due: test-php-73, pages

update checksum of swagger ui and redoc files
  checksums.txt
Due: none

refs #55117 - Appointment overview templates implemented in the style of the other templates, adjustments of unit tests and adding text mimepart as well as removing zmsdb dependencies
  composer.json
  src/Zmsentities/Collection/ProcessList.php
  src/Zmsentities/Exception/ProcessListEmpty.php
  src/Zmsentities/Helper/Mailing.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
  templates/lists/processes_summary.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_delete.twig
  templates/messaging/mail_processlist_overview.twig
  templates/messaging/mail_processlist_summary.twig
  templates/messaging/mail_reminder.twig
  templates/messaging/subjects.twig
  tests/Zmsentities/Helper/MailingTest.php
  tests/Zmsentities/Helper/MessagingTest.php
  tests/bootstrap.php
Due: test-php-73, pages

refs #55117 - phpcbf fixes
  src/Zmsentities/Collection/EventLogList.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
Due: test-php-73, pages

refs #54692 - qrCode js with zmswebcalldisplay url und css adjustments
  js/block/qrCode.js
  js/index.js
  js/settings.js
  package.json
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  public/_js/index.js
  public/_js/index.js.map
  scss/block/aufrufanzeige.scss
  scss/layout/media.scss
  src/Zmscalldisplay/Index.php
  templates/block/marginal/infoColumn.twig
Due: test-php-73, pages

suppress coupling between objects warning
  src/Zmsentities/Mail.php
Due: test-php-73, pages

refs #54692 - add query parameter hashing to be usable by all components
  src/Slim/Application.php
  src/Slim/Bootstrap.php
  src/Slim/Helper.php
Due: test-php-73, pages

refs #55117 - additional unit tests and problems with compiling the processList without mainProcess solved
  src/Zmsentities/Collection/ProcessList.php
  src/Zmsentities/Helper/Messaging.php
  src/Zmsentities/Mail.php
  tests/Zmsentities/EventLogTest.php
  tests/Zmsentities/Helper/MessagingTest.php
  tests/bootstrap.php
Due: test-php-73, pages

refs #55117 - View of mailing configurations has been extended with the appointment overviews, add KeyCloakAuth Helper for testing
  CHANGELOG.md
  src/Zmsadmin/ConfigInfo.php
  src/Zmsadmin/Helper/KeyCloakAuth.php
  src/Zmsadmin/Index.php
  templates/page/configinfo.twig
Due: test-php-73, pages

refs #55117 - add function to read processlist by email and process status
  src/Zmsdb/Process.php
  tests/Zmsdb/ProcessTest.php
Due: test-php-73, pages

refs #55118 - additional changes after review
  bin/deleteOldEventLogEntries
  src/Zmsdb/EventLog.php
  src/Zmsdb/Helper/EventLogCleanUpByCron.php
Due: test-php-73, pages

removed changes for mail and process classes - only eventlog changes in this branch
  src/Zmsdb/Mail.php
  src/Zmsdb/Process.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsdb/Base.php
  src/Zmsdb/Helper/EventLogCleanUpByCron.php
  src/Zmsdb/Process.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsdb/Process.php
Due: test-php-73, pages

add function to transform processlist by status
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

phpcbf issues
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

refs #55122 - refactored ProcessListSummaryMail with unit testing
  cron/cronjob.daily
  routing.php
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessDeleteMail.php
  src/Zmsapi/ProcessListSummaryMail.php
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #55122 - fixed unit test for testing empty processList for valid email
  src/Zmsapi/ProcessListSummaryMail.php
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsapi/Exception/Process/ProcessListSummaryTooOften.php
  src/Zmsapi/ProcessConfirmationMail.php
Due: test-php-73, pages

refs #55122 - limit length of processList overview in mails to 50
  src/Zmsapi/ProcessConfirmationMail.php
  src/Zmsapi/ProcessDeleteMail.php
  src/Zmsapi/ProcessListSummaryMail.php
  tests/Zmsapi/ProcessDeleteMailTest.php
Due: test-php-73, pages
