Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml



.test-php:
    stage: test
    variables:
      PHP_VERSION: 7.3
    image: registry.gitlab.com/eappointment/php-base:${PHP_VERSION}-dev
    cache:
        key: "zmsbase"
        paths:
            - cache
    script:
        - $CLI_COMPOSER
#temporary disabling this, I am focusing on php unit tests now        
#        - $CLI_PHPCS
#        - $CLI_PHPMD
        - docker-php-ext-enable xdebug
        - $CLI_PHPUNIT $CLI_PHPUNIT_PARAM
    coverage: '/^\s*Lines:\s*\d+.\d+\%/'
    artifacts:
        paths:
            - public/_tests
        expire_in: 7d
        reports:
            junit: public/_tests/junit.xml


test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

build-docker:
    extends: .build-docker

Handbuch-Review: WarehouseSubject-Organisationsname sollte nur bei Behörden erscheinen, bei anderen Ansichten stimmen die Tabellen-Spalten sonst nicht
  templates/page/warehouseSubject.twig
Due: test-php-73

update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed Unittests
  tests/Zmsstatistic/OverviewTest.php
Due: test-php-73, pages

Update CHANGELOG.md
  CHANGELOG.md
Due: none

refs #34027 - public/_js
  public/_js/index.js
  public/_js/index.js.map
Due: none

Fixed sourcemaps for js
  gulp/tasks/js.js
  gulp/tasks/watch.js
Due: none

refs #34054 - add macro to set a default in case scope provider name is empty + update template
  templates/block/workstation/selectform.twig
  templates/element/helper/form.twig
Due: test-php-73

refs #35764 - deploy tokens + composer.lock
  CHANGELOG.md
Due: none

Do not show one entry warehouse reports
  src/Zmsstatistic/WarehousePeriod.php
  src/Zmsstatistic/WarehouseSubject.php
  tests/Zmsstatistic/fixtures/GET_warehouse_waitingscope.json
Due: test-php-73, pages

Formulierungen korrigiert laut Review Handbuch
  templates/block/report/advancedInfo.twig
  templates/block/report/board.twig
  tests/Zmsstatistic/ReportClientDepartmentTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientScopeTest.php
  tests/Zmsstatistic/ReportRequestDepartmentTest.php
  tests/Zmsstatistic/ReportRequestOrganisationTest.php
  tests/Zmsstatistic/ReportRequestScopeTest.php
  tests/Zmsstatistic/ReportWaitingDepartmentTest.php
  tests/Zmsstatistic/ReportWaitingOrganisationTest.php
  tests/Zmsstatistic/ReportWaitingScopeTest.php
Due: test-php-73, pages

Show current year on dashboard even if empty
  templates/block/report/period.twig
Due: test-php-73

refs #32626 - enabled JSON_COMPRESS setting
  CHANGELOG.md
  bootstrap.php
  src/Zmsstatistic/Application.php
Due: test-php-73, pages

Generated css
  public/_css/statistic.css
  public/_css/statistic.css.map
Due: none

CHANGELOG.md
  CHANGELOG.md
Due: none

fix unit test
  src/Zmsstatistic/Index.php
Due: test-php-73, pages

update phpunit.xml
  bin/test
  phpunit.xml
  tests/Zmsstatistic/bootstrap.php
Due: test-php-73, pages

refs #34448 - fix user handbook web and pdf links
  templates/block/metalinks/metalinks.twig
Due: test-php-73

Alle instead of asterisk under Standord in organisation view
  templates/page/reportClientIndex.twig
Due: test-php-73

refs #33732 - remove bower dependencies, unuit css import from repo, es2015 to env for make js
  .gitignore
  bower.json
  gulp/browserify.js
  public/_css/statistic.css
  public/_css/statistic.css.map
  public/_js/index.js
  public/_js/index.js.map
  scss/statistic.scss
Due: none

refs #34447 - catch rerport api call for combined report and write not data found row
  src/Zmsstatistic/Download/ClientReport.php
  src/Zmsstatistic/ReportClientIndex.php
  templates/page/reportClientIndex.twig
Due: test-php-73, pages

refs #56260 - fixed login process with schema validation
  src/Zmsstatistic/Helper/Access.php
  src/Zmsstatistic/Index.php
Due: test-php-73, pages

fixed unit tests
  tests/Zmsstatistic/HealthcheckTest.php
Due: test-php-73, pages

update composer, phpmd and cbf fixes
  tests/Zmsstatistic/IndexTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientScopeTest.php
  tests/Zmsstatistic/ReportRequestDepartmentTest.php
  tests/Zmsstatistic/ReportRequestOrganisationTest.php
  tests/Zmsstatistic/ReportRequestScopeTest.php
  tests/Zmsstatistic/ReportWaitingDepartmentTest.php
  tests/Zmsstatistic/ReportWaitingOrganisationTest.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

refs #52137 - refactored access rights testing - cyclomatic complexity
  src/Zmsstatistic/Helper/Access.php
Due: test-php-73, pages

remove chdir from bootstrap
  bootstrap.php
Due: none

update .gitignore
  .gitignore
Due: none

add chdir for correct APP_PATH
  bootstrap.php
Due: none

bootstrap twig extension with namespaces
  bootstrap.php
Due: none

refs #52137 - fixed unit tests with new api mockup calls
  Makefile
  src/Zmsstatistic/Helper/Access.php
  templates/page/reportClientIndex.twig
  templates/page/reportRequestIndex.twig
  templates/page/reportWaitingIndex.twig
  tests/Zmsstatistic/LogoutTest.php
  tests/Zmsstatistic/OverviewTest.php
  tests/Zmsstatistic/ReportClientDepartmentTest.php
  tests/Zmsstatistic/ReportClientOrganisationTest.php
  tests/Zmsstatistic/ReportClientScopeTest.php
  tests/Zmsstatistic/ReportRequestDepartmentTest.php
  tests/Zmsstatistic/ReportRequestOrganisationTest.php
  tests/Zmsstatistic/ReportRequestScopeTest.php
  tests/Zmsstatistic/ReportWaitingDepartmentTest.php
  tests/Zmsstatistic/ReportWaitingOrganisationTest.php
  tests/Zmsstatistic/ReportWaitingScopeTest.php
  tests/Zmsstatistic/WarehouseIndexTest.php
  tests/Zmsstatistic/WarehousePeriodTest.php
  tests/Zmsstatistic/WarehouseReportTest.php
  tests/Zmsstatistic/WarehouseSubjectTest.php
  tests/Zmsstatistic/WorkstationSelectTest.php
  tests/Zmsstatistic/fixtures/GET_Workstation_Resolved2.json
  tests/Zmsstatistic/fixtures/GET_config.json
  tests/Zmsstatistic/fixtures/GET_department_74.json
  tests/Zmsstatistic/fixtures/GET_organisation_71_resolved3.json
  tests/Zmsstatistic/fixtures/GET_owner_23.json
Due: test-php-73, pages

Update CHANGELOG
  CHANGELOG.md
Due: none

Revert "refs #42768 - changed title tag"
  templates/layout/fullwidth.twig
  templates/layout/main.twig
Due: test-php-73

Update README.md
  README.md
Due: none

refs #52137 - fixed some statistic templates for waiting and request reports, add access for owner reports
  src/Zmsstatistic/Helper/Access.php
  src/Zmsstatistic/ReportRequestIndex.php
  templates/page/reportClientIndex.twig
  templates/page/reportRequestIndex.twig
  templates/page/reportWaitingIndex.twig
Due: test-php-73, pages

error handling fixes and update composer
  bin/configure
  bootstrap.php
  routing.php
  src/Zmsstatistic/Helper/TwigExceptionHandler.php
Due: test-php-73, pages

#56991 - The curl option for setting up an API proxy server has been added to the configuration
  CHANGELOG.md
  config.example.php
Due: none
