Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

refs #55398 - refactored openid login with login message, oidc route for login, logout changes
  bootstrap.php
  composer.json
  composer.lock
  js/element/form/preventFormResubmit.js
  public/_js/index.js
  public/_js/index.js.map
  routing.php
  src/Zmsadmin/Index.php
  src/Zmsadmin/Logout.php
  src/Zmsadmin/Oidc.php
  src/Zmsadmin/Profile.php
  templates/block/department/form.twig
  templates/block/index/loginform.twig
  templates/block/index/welcome.twig
  templates/element/helper/messageHandler.twig
  templates/element/helper/messages.twig
  templates/page/logout.twig
Due: test-php-73, pages

refs #55431 - updating slim and dependencies and the code using it
  composer.json
  composer.lock
  src/Slim/Application.php
  src/Slim/Bootstrap.php
  src/Slim/Container.php
  src/Slim/Exception/UnknownIdentifierException.php
  src/Slim/Factory/ServerRequestFactory.php
  src/Slim/Language.php
  src/Slim/Middleware/HttpBasicAuth.php
  src/Slim/Middleware/IpAddress.php
  src/Slim/Middleware/Profiler.php
  src/Slim/Middleware/Route.php
  src/Slim/Middleware/SessionHeadersHandler.php
  src/Slim/Middleware/SessionMiddleware.php
  src/Slim/Middleware/TrailingSlash.php
  src/Slim/Middleware/Validator.php
  src/Slim/PhpUnit/Base.php
  src/Slim/Render.php
  src/Slim/Request.php
  src/Slim/Response.php
  src/Slim/SlimApp.php
  src/Slim/TwigExceptionHandler.php
  src/Slim/TwigExtension.php
  src/Slim/TwigExtensionsAndFilter.php
  src/Slim/TwigView.php
  tests/Slim/Base.php
  tests/Slim/BootstrapTest.php
  tests/Slim/Config.php
  tests/Slim/Controller/BaseController.php
  tests/Slim/Controller/Get.php
  tests/Slim/Controller/Post.php
  tests/Slim/DateTimeFormatTest.php
  tests/Slim/FilterTest.php
  tests/Slim/GetTest.php
  tests/Slim/RoutingTest.php
  tests/Slim/TwigExtensionsTest.php
Due: test-php-73, pages

refs #55398 - redesigned keycloak provider initiation with options from jsonfile
  src/Slim/Exception/OAuthFailed.php
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - replaced env constants with keycloak json file, add oauthfailed exception template
  .gitignore
  config.example.php
  keycloak.example.json
  templates/exception/bo/slim/exception/oauthfailed.twig
Due: test-php-73

oidc button with auth provider name
  src/Zmsadmin/Index.php
  templates/block/index/loginform.twig
Due: test-php-73, pages

phpcbf fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuth/KeycloakProvider.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

phpmd fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
Due: test-php-73, pages

phpmd fixes
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

#55431 - update twig version to 3.*
  composer.json
  composer.lock
  src/Zmsentities/Helper/Messaging.php
  templates/lists/processes_summary.twig
  templates/messaging/icsappointment.twig
  templates/messaging/icsappointment_delete.twig
  templates/messaging/mail_admin_delete.twig
  templates/messaging/mail_admin_update.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_delete.twig
  templates/messaging/mail_queued.twig
  templates/messaging/mail_reminder.twig
  templates/messaging/notification_deleted.twig
  templates/messaging/notification_reminder.twig
Due: test-php-73, pages

refs #55431 - changes for the slim update
  composer.json
  composer.lock
  src/Zmsclient/Psr7/Request.php
  src/Zmsclient/Psr7/Response.php
  src/Zmsclient/Psr7/Stream.php
  src/Zmsclient/Psr7/Uri.php
  src/Zmsclient/Status.php
  src/Zmsclient/TwigExtension.php
  tests/Zmsclient/GraphQLTest.php
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

refs #55431 - adjusting composer.json
  composer.json
Due: test-php-73

refs #55398 - removed zmsentities dependency from openid middleware
  src/Slim/Middleware/OAuth/KeycloakAuth.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - get openid logindata as raw array to avoid zmsentities dependencies in zmsslim middleware
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - add sequence diagram for oidc login and logout
  requestflow.md
Due: none

update requestflow without description
  requestflow.md
Due: none

Update requestflow.md
  requestflow.md
Due: none

reset requestflow with description
  requestflow.md
Due: none

update requestflow.md
  requestflow.md
Due: none

refs #55398 - Abandoned dependency on one OpenID provider Keycloak and prepared OpenID Connect for multiple providers
  .gitignore
  bootstrap.php
  config.example.php
  gitlab.example.json
  routing.php
  src/Zmsadmin/Index.php
  src/Zmsadmin/Logout.php
  src/Zmsadmin/WorkstationStatus.php
  templates/block/index/loginform.twig
Due: test-php-73, pages

refs #55398 - Removed irrelevant code
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

refs #55398 - added auth methods for oidc provider cookie
  src/Zmsclient/Auth.php
Due: test-php-73, pages

refs #55398 - prepared OpenID Connect for multiple providers like keycloak and gitlab
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/Gitlab/ResourceOwner.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55398 - fixed ressource owner creating for gitlab provider
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/Keycloak/ResourceOwner.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

refs #55398 - add list of allowed and supported oidc provider to config and application.php
  src/Zmsadmin/Application.php
  src/Zmsadmin/Index.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

refs #55398 - add migration for oidc settings
  migrations/55398-config-oidc-settings.sql
Due: none

refs #55398 - oidc userdata generic from different provider but keycloak
  src/Zmsentities/Useraccount.php
Due: test-php-73, pages

refs #55398 - add refresh route for interval checking if access token is required
  js/block/oidc/refresh.js
  js/index.js
  public/_js/index.js
  public/_js/index.js.map
  routing.php
  src/Zmsadmin/OidcRefresh.php
  templates/exception/bo/slim/exception/oauthinvalid.twig
Due: test-php-73, pages

update gitignore
  .gitignore
Due: none

refs #55398 - refactored refresh token handling
  src/Slim/Exception/OAuthInvalid.php
  src/Slim/Middleware/OAuth/Gitlab/Provider.php
  src/Slim/Middleware/OAuth/GitlabInstance.php
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

revert changes
  js/block/oidc/refresh.js
  js/index.js
  public/_js/index.js
  public/_js/index.js.map
  routing.php
  src/Zmsadmin/OidcRefresh.php
Due: test-php-73, pages

refs #55985 - add legend to page calendar
  templates/block/availability/monthtable.twig
  templates/block/calendar/legend.twig
  templates/page/workstation.twig
Due: test-php-73

refs #55985 - add aria-describedby attribute to calendar days
  templates/block/calendar/calendar.twig
Due: test-php-73

refs #55431 - changes for the slim update
  .gitlab-ci.yml
  composer.json
  composer.lock
  docker-compose.yml
  phpunit.xml
  src/Zmsclient/Http.php
  src/Zmsclient/TwigExtension.php
  tests/Zmsclient/Base.php
  tests/Zmsclient/ClientTest.php
  tests/Zmsclient/GraphQLTest.php
  tests/Zmsclient/TwigExtensionTest.php
  tests/bootstrap.php
  tests/mockup/config/mail_add.yaml
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
