Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  stage: test
  variables:
    PHP_VERSION: '7.3'
  image: registry.gitlab.com/eappointment/php-base:${PHP_VERSION}-dev
  cache:
    key: zmsbase
    paths:
    - cache
  script:
  - $CLI_COMPOSER
  - docker-php-ext-enable xdebug
  - $CLI_PHPUNIT $CLI_PHPUNIT_PARAM
  coverage: /^\s*Lines:\s*\d+.\d+\%/
  artifacts:
    paths:
  ...

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

remove one test
  tests/Zmsadmin/ConfigInfoTest.php
Due: test-php-73, pages

disable cache and artifacts
  .gitlab-ci.yml
Due: test-php-73, pages

update composer with 2.25.01 tags
  composer.json
  composer.lock
Due: test-php-73

allow failure to test deployment
  .gitlab-ci.yml
Due: test-php-73, pages

alloow failure to test deployment
  .gitlab-ci.yml
Due: test-php-73, pages

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages

remove config info test, the machanism is failing in our pipeline
  tests/Zmsadmin/ConfigInfoTest.php
Due: test-php-73, pages

fix tests, call to config is not made in our implementation
  tests/Zmsadmin/UseraccountAddTest.php
Due: test-php-73, pages

we continue to have problems with the email checking, I need to remove this test. We need to check up on this later.
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

adjust scope definition
  schema/scope.json
Due: test-php-73

update composer.lock
  composer.lock
Due: test-php-73

adjust OAuthMiddleware to new Slim version
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

fix keycloak after merge
  routing.php
  src/Zmsadmin/Index.php
Due: test-php-73, pages

update composer lock
  composer.lock
  src/Zmsadmin/Index.php
Due: test-php-73, pages

fix adding and editing of keycloak users
  src/Zmsadmin/UseraccountAdd.php
  src/Zmsadmin/UseraccountEdit.php
Due: test-php-73, pages

fix template format_date(pattern="EE dd. MMMM y")
  templates/messaging/mail_preconfirmed.twig
Due: test-php-73

update composer lock
  composer.lock
Due: test-php-73

re-add previsouly removed test
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

ref #33599 - first unit tests, some controller without access
  src/Zmsstatistic/BaseController.php
  src/Zmsstatistic/Changelog.php
  src/Zmsstatistic/Healthcheck.php
  src/Zmsstatistic/Helper/Access.php
  src/Zmsstatistic/Index.php
  src/Zmsstatistic/Overview.php
  templates/block/changelog/changelogitem.twig
  templates/block/index/loginform.twig
  tests/Zmsstatistic/Base.php
  tests/Zmsstatistic/ChangelogTest.php
  tests/Zmsstatistic/HealthcheckTest.php
  tests/Zmsstatistic/IndexTest.php
  tests/Zmsstatistic/LogoutTest.php
  tests/Zmsstatistic/OverviewTest.php
  tests/Zmsstatistic/RoutingTest.php
  tests/Zmsstatistic/fixtures/GET_Workstation_Resolved2.json
  tests/Zmsstatistic/fixtures/GET_Workstation_UserAccountMissingLogin.json
  tests/Zmsstatistic/fixtures/GET_clientscope_141.json
  tests/Zmsstatistic/fixtures/GET_department_74.json
  tests/Zmsstatistic/fixtures/GET_organisation_71_resolved3.json
  tests/Zmsstatistic/fixtures/GET_requestscope_141.json
  tests/Zmsstatistic/fixtures/GET_status.json
  tests/Zmsstatistic/fixtures/GET_waitingscope_141.json
Due: test-php-73, pages

composer.lock
  .gitignore
Due: none

refs #34809 - dateRange changed from timestamp to first and last day of month
  templates/page/reportWaitingIndex.twig
Due: test-php-73

refs #34809 - fix template for Dienstleistungsstatistik
  templates/page/reportRequestIndex.twig
Due: test-php-73

refs #35151 - fix localizeddate() year format in template + test
  templates/block/report/board.twig
  tests/Zmsstatistic/ReportWaitingScopeTest.php
  tests/Zmsstatistic/fixtures/GET_waitingscope_141_012016.json
Due: test-php-73, pages

show organisation name in department lists
  templates/page/warehouseSubject.twig
Due: test-php-73

update composer
  tests/Zmsstatistic/StatusTest.php
  tests/Zmsstatistic/fixtures/GET_status.json
Due: test-php-73, pages

refs #35315 - show warehouse links without scope selection
  CHANGELOG.md
  src/Zmsstatistic/Helper/Access.php
  templates/block/navigation/navigation.twig
Due: test-php-73, pages

refs #34027 - implement HTTPS redirect on zmsstatistic
  js/index.js
  js/lib/utils.js
Due: none

Use npm instead of gulp in Makefile
  Makefile
Due: none

Wording: »Arbeitsplatz auswählen« entfernt
  src/Zmsstatistic/WorkstationSelect.php
  tests/Zmsstatistic/WorkstationSelectTest.php
Due: test-php-73, pages

Changed title for Warehouse routes
  src/Zmsstatistic/WarehousePeriod.php
  src/Zmsstatistic/WarehouseReport.php
  src/Zmsstatistic/WarehouseSubject.php
  templates/page/warehousePeriod.twig
  templates/page/warehouseReport.twig
  tests/Zmsstatistic/WarehousePeriodTest.php
  tests/Zmsstatistic/WarehouseReportTest.php
  tests/Zmsstatistic/fixtures/GET_warehouse_waitingscope.json
  tests/Zmsstatistic/fixtures/GET_warehouse_waitingscope_141.json
  tests/Zmsstatistic/fixtures/GET_warehouse_waitingscope_141_report.json
Due: test-php-73, pages

Add layout-admin and parceljs
  .eslintrc.js
  .gitignore
  js/index.js
  scss/_statistic.scss
  scss/statistic.scss
Due: none

refs #34809 - fix data display due to former change of the date variable
  templates/page/reportRequestIndex.twig
  templates/page/reportWaitingIndex.twig
Due: test-php-73

refs #38445 - remove BaseController constructor
  CHANGELOG.md
  src/Zmsstatistic/BaseController.php
Due: test-php-73, pages

refs #34808 - template will show * instead of scope name when grouped by organisation name
  templates/page/reportClientIndex.twig
Due: test-php-73

Healthcheck without process stats
  src/Zmsstatistic/Healthcheck.php
  tests/Zmsstatistic/HealthcheckTest.php
Due: test-php-73, pages

refs #34808 - display org + dept + scope name when no sms sent
  templates/page/reportClientIndex.twig
Due: test-php-73

Generated js
  public/_js/index.js
  public/_js/index.js.map
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
