Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

fixed possible type exception in hasValidOffset method
  src/Dldb/Entity/Base.php
Due: test-php-73, pages

ZMS-828 added identifier env variable
  config.example.php
Due: none

refs #54285 - filter processlist by given timestamp
  CHANGELOG.md
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

filter calldisplay queue by processes of same day
  composer.lock
  src/Zmsapi/CalldisplayQueue.php
Due: test-php-73, pages

filter calldisplay queue by processes of same day
  CHANGELOG.md
Due: none

fixed css media styles, update composer
  composer.lock
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  scss/block/aufrufanzeige.scss
  scss/block/tabellen.scss
  scss/layout/media.scss
  templates/block/marginal/infoColumn.twig
Due: test-php-73

check formatted date instead of timestamp for processlist within a day
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

update composer with new zmsentities
  composer.lock
Due: test-php-73

update changelog
  CHANGELOG.md
Due: none

fixed TwigExtension helper method formatDateTime by timestamp
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

fixed some css behaviour on multicolumns in different screen sizes
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  scss/block/aufrufanzeige.scss
  scss/block/tabellen.scss
  scss/layout/media.scss
  templates/block/marginal/infoColumn.twig
  templates/element/queueTable/rightCol.twig
Due: test-php-73

refs #54285 - filter process status by scope id if not 0
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

refs #54284 - filter by scope id for confirmed processes if scope id is given
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

adjust composer.json
  composer.json
  composer.lock
Due: test-php-73

updating RC dependencies
  composer.json
  composer.lock
Due: test-php-73

composer update
  composer.lock
Due: test-php-73

composer update, white space development, revert an extension modification
  composer.lock
  src/Dldb/Helper/MySQL/Search.php
  src/Dldb/MySQL/Authority.php
  src/Dldb/MySQL/Link.php
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Service.php
  src/Dldb/MySQL/Topic.php
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

fixing tests
  tests/Dldb/fixtures/locations_de.json
  tests/config.php
Due: test-php-73, pages

composer update
  composer.json
  composer.lock
Due: test-php-73

platform php pinned to 7.3
  composer.json
Due: test-php-73

phpcbf fixes
  src/Dldb/Entity/Base.php
Due: test-php-73, pages

merge latest main and slim upgrade, composer update
  CHANGELOG.md
  composer.json
  composer.lock
Due: test-php-73

fixed phpcbf issues
  src/Zmsclient/Auth.php
  src/Zmsclient/Exception/BadRequest.php
Due: test-php-73, pages

suppress coupling and superglobals warnings
  src/Zmsclient/Http.php
  src/Zmsclient/Psr7/Request.php
Due: test-php-73, pages

test mockup docker compose with php73
  docker-compose.yml
Due: none

remove mockup service zmsapiurl from phpunit.xml
  phpunit.xml
Due: none

Update public css and js
  public/_css/calldisplay.css
  public/_css/calldisplay.css.map
  public/_js/index.js
  public/_js/index.js.map
Due: none

Update composer
  composer.json
  composer.lock
Due: test-php-73

revert bad changes
  src/Dldb/TwigExtension.php
Due: test-php-73, pages

fixed method in Location Entity
  src/Dldb/Entity/Location.php
Due: test-php-73, pages
