Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

refs #55118 - activate eventLog for ProcessListSummaryMail route
  src/Zmsapi/Exception/Process/ProcessListSummaryTooOften.php
  src/Zmsapi/ProcessListSummaryMail.php
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

refs #55456 - sort provider list by id
  src/Zmsdb/Provider.php
Due: test-php-73, pages

refs #55114 - extract cronjob to delete old event log entries frim enventlog table migration script
  migrations/55118-create-eventlog-table.sql
  migrations/55118-deleteOldEventLogEntries.sql
Due: none

provide composer.lock in artifacts
  .gitlab-ci.yml
Due: test-php-73, pages

add composer.lock for secure composer install without untested dependency changes
  .gitignore
  .gitlab-ci.yml
  composer.lock
Due: test-php-73, pages

add composer.lock for secure composer install without untested dependency changes
  .gitignore
  composer.lock
Due: test-php-73

Update composer
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

remove disallowed default value vor eventlog table column
  migrations/55118-create-eventlog-table.sql
Due: none

avoid using hard coded statuses
  src/Zmsentities/Collection/ProcessList.php
Due: test-php-73, pages

update composer.lock
  composer.lock
Due: test-php-73

phpcbf issues and extract server error unit tests
  src/Zmsclient/Status.php
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

fixed phpcbf issues
  src/Zmsclient/Status.php
  tests/Zmsclient/ApiMockTest.php
  tests/Zmsclient/GraphQLTest.php
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

fixed server error unit test
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

fixed some unit tests
  tests/Zmsclient/GraphQLTest.php
  tests/Zmsclient/HttpTest.php
Due: test-php-73, pages

refs #55126 - remove line in processes_summary template
  templates/lists/processes_summary.twig
Due: test-php-73

refs #55389 - resolve process for delete notifications to get info if is with appointment
  src/Zmsapi/ProcessDeleteNotification.php
Due: test-php-73, pages

refs #55116 - add migrations to configure appointment features
  migrations/55116-config-appointment-features.sql
Due: none

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
