Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

.gitlab-ci.yml:

include:
    remote: https://gitlab.com/eappointment/php-base/-/raw/main/template-php-ci.yml

test-php-73:
    extends: .test-php
    allow_failure: false
    before_script:
        - $CLI_COMPOSER
        - npm install
        - make css && make js
    variables:
        PHP_VERSION: "7.3"
    only:
        changes:
            - .gitlab-ci.yml
            - composer.lock
            - composer.json
            - schema/**/*
            - templates/**/*
            - src/**/*
            - tests/**/*.{json,php}

#test-php-81:
#    extends: .test-php
#    allow_failure: true
#    variables:
#      PHP_VERSION: "8.1"
#    only:
#        changes:
#            - .gitlab-ci.yml
#            - composer.lock
#            - composer.json
#            - schema/**/*
#            - templates/**/*
#            - src/**/*
#            - tests/**/*.{json,php}

outdated:
    extends: .test-phpoutdated

pages:
    stage: deploy
    script:
        - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
        - find public/
    artifacts:
        paths:
            - public
    only:
        refs:
            - main
        changes:
            - src/**/*
            - tests/**/*.{json,php}
            - routing.php
            - .gitlab-ci.yml
    environment:
        name: analytics
        url: https://eappointment.gitlab.io/zmsadmin

Add new file
  tobias-test
Due: none

Update file README.md
  README.md
Due: none

test
  src/Slim/Application.php
Due: test-php-73, pages

Remove unused parameter
  src/Zmsapi/WorkstationLogin.php
Due: test-php-73, pages

update composer
  composer.json
  composer.lock
Due: test-php-73

update composer
  composer.json
Due: test-php-73

update comopser
  composer.lock
Due: test-php-73

set default value
  schema/department.json
Due: test-php-73

fix typo
  templates/block/department/form.twig
Due: test-php-73

refs #55431 - adding test for currentRoute
  src/Slim/Bootstrap.php
  src/Slim/Middleware/Route.php
  tests/Slim/Middleware/RouteTest.php
Due: test-php-73, pages

update composer
  composer.lock
Due: test-php-73

Updated zmsdldb to 2.24.14-rc1
  composer.lock
Due: test-php-73

adjust department form
  composer.lock
  templates/block/department/form.twig
Due: test-php-73

make sendEmailReminderMinutesBefore nullable
  schema/department.json
Due: test-php-73

updated composer
  composer.lock
Due: test-php-73

accept empty field
  src/Zmsadmin/Department.php
Due: test-php-73, pages

accept empty field
  src/Zmsadmin/Department.php
  templates/block/department/form.twig
Due: test-php-73, pages

removed @keycloack from username
  templates/block/header/pageheader.twig
Due: test-php-73

add slotCount unit tests for multiple requests
  composer.lock
  tests/Zmsapi/ProcessFreeTest.php
Due: test-php-73, pages

feat(ZMS-389): move keycloack button before login form
  templates/block/index/loginform.twig
Due: test-php-73

feat(zms-389): adjust button
  templates/block/index/loginform.twig
Due: test-php-73

refs #56560 - improved unittests for processes with multiple slotcount
  tests/Zmsapi/ProcessReserveTest.php
  tests/Zmsapi/fixtures/GetProcessWithMultipleSlotCount.json
Due: test-php-73, pages

refs #56560 - improved unittests with tests for process with dublicated requests
  tests/Zmsapi/ProcessReserveTest.php
  tests/Zmsapi/fixtures/GetProcessWithDublicatedRequests.json
Due: test-php-73, pages

ZMS-791: set using keycloack as default
  templates/block/useraccount/edit.twig
Due: test-php-73

only delete session on logout, do not remove sso login completely
  src/Slim/Middleware/OAuth/Keycloak/Provider.php
  src/Slim/Middleware/OAuth/KeycloakInstance.php
Due: test-php-73, pages

Berlin bug: #54285
  CHANGELOG.md
  src/Zmsdb/Query/Process.php
Due: test-php-73, pages

adjusting dependencies for new release candidate 2.24.14-rc2
  composer.json
  composer.lock
Due: test-php-73

Fix missing script
  composer.json
Due: test-php-73

refs #56588 - The resolution of the references of the location has been increased to 2 so that the service provider contact is available in the reminder email
  src/Zmsdb/Helper/SendMailReminder.php
  tests/Zmsdb/ProcessMailReminderTest.php
Due: test-php-73, pages

update changelog
  CHANGELOG.md
Due: none

increase unit tests for exchange and archive into statistic data
  src/Zmsdb/ExchangeAvailabilityreview.php
  src/Zmsdb/ExchangeSimpleQuery.php
  src/Zmsdb/ExchangeUnassignedscope.php
  src/Zmsdb/Helper/ArchivedDataIntoStatisticByCron.php
  tests/Zmsdb/ExchangeAvailabilityreviewTest.php
  tests/Zmsdb/ExchangeClientownerTest.php
  tests/Zmsdb/ExchangeNotificationownerTest.php
  tests/Zmsdb/ExchangeRequestownerTest.php
  tests/Zmsdb/ExchangeSlotscopeTest.php
  tests/Zmsdb/ExchangeUnassignedscopeTest.php
  tests/Zmsdb/ExchangeWaitingownerTest.php
  tests/Zmsdb/Helper/ArchivedDateIntoStatisticByCronTest.php
Due: test-php-73, pages

phpcbf fixes
  src/Zmsdb/Helper/ArchivedDataIntoStatisticByCron.php
Due: test-php-73, pages

fix error message
  templates/block/index/welcome.twig
Due: test-php-73

update composer.lock to use latest zmsslim
  composer.json
  composer.lock
Due: test-php-73

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test-php-73, pages
