Repository it-at-m/eappointment: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-php-73, pages

test-php-73:
  allow_failure: false
  before_script:
  - $CLI_COMPOSER
  - npm install
  - make css && make js
  variables:
    PHP_VERSION: '7.3'

pages:
  stage: deploy
  script:
  - echo "/zmsadmin/_tests/coverage/ /zmsadmin/_tests/coverage/index.html 302" >> public/_redirects
  - find public/
  artifacts:
    paths:
    - public
  environment:
    name: analytics
    url: https://eappointment.gitlab.io/zmsadmin

update changelog
  CHANGELOG.md
Due: none

refs #55625 - Revising the presentation of services in emails and making adjustments to the spontaneous customer confirmation email
  schema/process.json
  templates/lists/processes_summary.twig
  templates/lists/requests.twig
  templates/messaging/mail_admin_delete.twig
  templates/messaging/mail_admin_update.twig
  templates/messaging/mail_confirmation.twig
  templates/messaging/mail_queued.twig
  templates/messaging/mail_reminder.twig
  tests/Zmsentities/Helper/MessagingTest.php
  tests/Zmsentities/NotificationTest.php
  tests/Zmsentities/ProcessTest.php
Due: test-php-73, pages

Update composer
  composer.lock
Due: test-php-73

update composer
  composer.lock
Due: test-php-73

refs #55625 - Revising the presentation of email templates in system configuration
  public/_css/admin.css
  public/_css/admin.css.map
  scss/accessibility.scss
  src/Zmsadmin/ConfigInfo.php
  templates/page/configinfo.twig
Due: test-php-73, pages

add recreate-mysql-search-index script
  bin/recreate-mysql-search-index
  src/Dldb/Importer/MySQL/Entity/Search.php
  src/Dldb/Importer/MySQL/Entity/Service.php
  src/Dldb/Importer/MySQL/Entity/Topic.php
  src/Dldb/MySQL/Authority.php
  src/Dldb/MySQL/Borough.php
  src/Dldb/MySQL/Collection/Authorities.php
  src/Dldb/MySQL/Collection/BaseTrait.php
  src/Dldb/MySQL/Collection/Links.php
  src/Dldb/MySQL/Collection/Locations.php
  src/Dldb/MySQL/Collection/Offices.php
  src/Dldb/MySQL/Collection/Services.php
  src/Dldb/MySQL/Collection/Topics.php
  src/Dldb/MySQL/Entity/Authority.php
  src/Dldb/MySQL/Entity/Link.php
  src/Dldb/MySQL/Entity/Location.php
  src/Dldb/MySQL/Entity/Office.php
  src/Dldb/MySQL/Entity/Service.php
  src/Dldb/MySQL/Entity/Topic.php
  src/Dldb/MySQL/Helper.php
  src/Dldb/MySQL/Link.php
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Office.php
  src/Dldb/MySQL/Service.php
Due: test-php-73, pages

group search query results by object_id
  src/Dldb/Helper/MySQL/Search.php
Due: test-php-73, pages

speedup mysql resultlists
  src/Dldb/Helper/MySQL/Search.php
  src/Dldb/MySQL/Authority.php
  src/Dldb/MySQL/Link.php
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Service.php
  src/Dldb/MySQL/Topic.php
Due: test-php-73, pages

refs #55521 - accessibility shortcuts for emergency buttons
  templates/block/emergency/emergency.twig
Due: test-php-73

refs #55509 - Checkboxes and radionbuttons now have a unique ID, the dialog lightboxes now have a focus trap and when closing the lightbox the previous element is focused
  js/block/emergency/index.js
  js/lib/baseview.js
  js/lib/dialogHandler.js
  js/lib/messageHandler.js
  js/page/workstation/index.js
  public/_js/index.js
  public/_js/index.js.map
  templates/element/helper/form.twig
Due: test-php-73

refs #55509 - the mail dialog lightboxes now have a focus trap
  js/lib/dialogHandler.js
  js/lib/messageHandler.js
  js/page/counter/index.js
  js/page/workstation/index.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/mail/form.twig
Due: test-php-73

changed user import from zmsadmin to zmsapi
  config.example.php
  src/Zmsapi/WorkstationOAuth.php
Due: test-php-73, pages

changed user import from zmsadmin to zmsapi
  config.example.php
  routing.php
  src/Zmsadmin/Helper/OAuthMiddleware.php
Due: test-php-73, pages

add focus trap for lightbox elements - accessibility, update composer
  composer.lock
  js/lib/dialogHandler.js
  public/_js/index.js
  public/_js/index.js.map
  templates/block/notification/form.twig
Due: test-php-73

refs #55523 - access key for workstation hint changed as discussed
  templates/block/workstation/selectform.twig
Due: test-php-73

refs #55509 - Assignment of checkboxes with a random ID to the corresponding label by the for attribute
  public/_js/index.js
  public/_js/index.js.map
  templates/element/helper/form.twig
Due: test-php-73

add mysql querys for compilation
  src/Dldb/MySQL/Location.php
  src/Dldb/MySQL/Service.php
Due: test-php-73, pages

Rename .gitkeep to .keep
  tests/cache/.gitkeep 
  tests/cache/.keep
Due: none

set reminderLastRun at the beginning of send reminder cronjob
  src/Zmsdb/Helper/SendMailReminder.php
Due: test-php-73, pages

refactoring
  src/Zmsdb/Calendar.php
  src/Zmsdb/ProcessStatusFree.php
Due: test-php-73, pages

moved OAuthMiddleware from zmsadmin to zmsslim
  src/Slim/Middleware/OAuthMiddleware.php
Due: test-php-73, pages

refs #55625 - wording in summary mail template
  templates/lists/processes_summary.twig
  templates/messaging/mail_processlist_overview.twig
Due: test-php-73

refs #55625 - unit test fixes after wording in templates
  tests/Zmsentities/Helper/MessagingTest.php
Due: test-php-73, pages

fixed processListSummaryMail unit tests after wording changes in template
  tests/Zmsapi/ProcessListSummaryMailTest.php
Due: test-php-73, pages

Unit tests for unmerged zmsdb changes commented out
  tests/Zmsapi/ProcessFreeTest.php
Due: test-php-73, pages

refs #55778 - securing changes of process
  src/Zmsentities/Session.php
Due: test-php-73, pages

refs #55625 - allow changes of personal data but not familyname and email
  src/Zmsentities/Process.php
  tests/Zmsentities/ProcessTest.php
Due: test-php-73, pages

refs #55625 - Allow changes to the client object like familyname and email not for public appointment updates
  src/Zmsapi/ProcessUpdate.php
Due: test-php-73, pages

Path conditions:
  test-php-73: any of: .gitlab-ci.yml, composer.lock, composer.json, schema/**/*, templates/**/*, src/**/*, tests/**/*.{json,php}
  pages: any of: src/**/*, tests/**/*.{json,php}, routing.php, .gitlab-ci.yml
